[2019-08-16 08:00] lgc commented on #325
https://github.com/facundoolano/google-play-scraper/pull/327

[2019-08-19 06:11] #325 closed

[2019-08-19 06:13] #324 closed

[2019-08-21 09:41] xenio commented on #319
Thanks @orenbaranes your temporary fix is working (only 20 results).

[2019-08-21 12:04] KemikalGeneral commented on #284
Hi guys!

Just had a message from the manager of a project I worked on last year that uses this package, asking if I'd take a look as it isn't working anymore.

Saw this thread and got worried... Is it working now?

Thanks,

[2019-08-21 13:52] moelfassi opened #329 "socket hang up"
os: Mac
### Description:
after adding to my list `num : 100` i receive this
### Error:
[code]

when `num:20 ` it works just fine
### Example code:
[code]
please help

[2019-08-21 14:57] moelfassi commented on #329
after testing this code on my server it worked (num : 100) why wouldnt on my mac?

[2019-08-22 09:28] SwapnilSoni1999 opened #330 "[Q] How to scrap more than 120 app details"
No issues tho 😅 just the question only.

[2019-08-22 09:29] yurganov commented on #330
Try to use for loop

[2019-08-22 09:34] SwapnilSoni1999 commented on #330
@yurganov elaborate a little more please, would be helpful.

[2019-09-03 04:58] AtiqGauri opened #331 "Can't get data about in app purchase range"
* Operating System:  Windows 10
* Node version: 12.6.0
* google-play-scraper version: 6.2.7

### Description:
There is no option to scrape in app purchase range. With iap can you provide us iap_range

[2019-09-04 06:17] gamechosun opened #333 "suddenly fires error 'App not found (404)' on request"
* Operating System: Windows7, centos
* Node version: 10.15.3
* google-play-scraper version: 6.2.7

Description:
I implemented this module in my service and worked well.
recently, module fires 'App not found(404)' error 70~80% of request.
strange thing is request success sometime.

Example code:
var G = require('google-play-scraper');
G.list({
    category: G.category.GAME,
    collection: G.collec

[2019-09-04 14:19] facundoolano commented on #313
This is outside of the scope of this library.

[2019-09-04 14:19] #313 closed

[2019-09-04 19:55] vitaliy901 commented on #333
yes have that error on category only page too ... :(

[2019-09-04 20:46] marxsk commented on #333
I have the very same issue when I attempt to download reviews.

[2019-09-05 00:22] takeTrace commented on #333
same issue + 1

[2019-09-05 01:28] xulifan commented on #333
I think Google updated the links of play store today.

[2019-09-05 02:49] mitchross commented on #333
Bump on this too

[2019-09-05 07:20] marxsk commented on #333
Can anyone confirm that updated version should use /batchexecute (used by web browser) ?

[2019-09-05 11:22] vitaliy901 commented on #333
@xulifan i see that links not changes ( but it doesn't works... something strange. Request is throw 404, but when i try curl on my ubuntu server it's opening (

[2019-09-05 15:04] marxsk commented on #333
@xulifan can you pls send me your curl command? So I can take a closer look at it?

[2019-09-05 16:46] xulifan commented on #333
@marxsk For example, for collection TOP GROSS and category GAME, the generated URL https://play.google.com/store/apps/category/GAME/collection/topgrossing?hl=en&gl=jp is no longer available.
From https://play.google.com/store/apps/top/category/GAME , we can see the link for TOP GROSS game is https://play.google.com/store/apps/collection/cluster?clp=0g4YChYKEHRvcGdyb3NzaW5nX0dBTUUQBxgD:S:ANO1ljLhYw

[2019-09-06 04:12] andylauxugang2 opened #334 "Error: App not found (404) For List api"
* Operating System:Ubuntu lastest
* Node version:v10.16.3
* google-play-scraper version:

### Description:
When I use the List api to test your official demo. That show me the error below:

### Example code:
[code]

### Error message:

[code]

[2019-09-06 04:14] andylauxugang2 commented on #333
Bump on this too for me

[2019-09-06 06:02] dipbhi commented on #334
I am getting same error for using the given example in the help doc.

`
var gplay = require('google-play-scraper');

gplay.list({
    category: gplay.category.GAME_ACTION,
    collection: gplay.collection.TOP_FREE,
    num: 2
  })
  .then(console.log, console.log);
`

 It's likely that Google Play has changed the list page format.

My environment:
- OS: Windows 10 Pro
- Node.js: v10.15.0
- google-

[2019-09-06 06:09] vipinhelloindia commented on #334
I am getting the same error for
var gplay = require('google-play-scraper');

gplay.reviews({appId: 'com.jeevansathi.android'})
  .then(console.log, console.log);

[2019-09-06 12:36] facundoolano commented on #334
duplicate #333

[2019-09-06 12:36] #334 closed

[2019-09-06 15:27] icarcal commented on #333
Hey guys!
Had the same problem.
Investigating it yesterday I found the following URL: https://play.google.com/store/apps/top/category/SHOPPING (you can use for all the categories)

I made a *REALLY QUICK* fix, [here](https://github.com/icarcal/google-play-scraper).
There is a lot of duplicated code, I made this just to get yesterday's data and it is not 100% thought.
I'm planning to fix it and sen

[2019-09-06 15:40] yurganov commented on #333
Great work.

But why you made limit of 195?

You messed up limit per one request and total limit

So, it *is* possible to get more than 195 apps totally, but you cannot get more than 195 per request, and after that you run next request with another token.

Am I wrong?

[2019-09-06 15:51] icarcal commented on #333
@yurganov

I think that I've used the same logic from search requests (changing the token and everything else).

If you check for example the following url:
https://play.google.com/store/apps/collection/cluster?clp=CiAKHgoYdG9wc2VsbGluZ19mcmVlX1NIT1BQSU5HEAcYAw%3D%3D:S:ANO1ljKk2A4&gsr=CiIKIAoeChh0b3BzZWxsaW5nX2ZyZWVfU0hPUFBJTkcQBxgD:S:ANO1ljI0fpo

 It allows you to get only 200 apps (with the batc

[2019-09-06 15:53] yurganov commented on #333
I will send you PR now

[2019-09-06 16:08] yurganov commented on #333
@icarcal cannot send PR, check this out, please

I think it is working good

https://github.com/yurganov/google-play-scraper/commit/11ee62f6f68d805b262a29953b8abf82139a2387?diff=split

But sometimes it ends earlier (i try to get 600 apps, and get only 200)

I think there is some problem with detecting token, or something...

[2019-09-06 16:35] yurganov commented on #333
I checked it on google

It is working randomly - some time it gives only 200, sometime 660

https://play.google.com/store/apps/collection/cluster?clp=0g4jCiEKG3RvcHNlbGxpbmdfZnJlZV9HQU1FX0FDVElPThAHGAM%3D:S:ANO1ljKHNjI&gsr=CibSDiMKIQobdG9wc2VsbGluZ19mcmVlX0dBTUVfQUNUSU9OEAcYAw%3D%3D:S:ANO1ljLUxfQ&hl=ru&gl=ru

[2019-09-06 16:41] abubakaraziz commented on #333
There is an issue on getting permissions data of applications. gplay. permissions return 404 error e.g App not Found

[2019-09-06 17:33] yurganov commented on #333
@icarcal you also have wrong collection mapping

check this out:

https://play.google.com/store/apps/top/category/TOOLS
vs
https://play.google.com/store/apps/top/category/GAME

The "Paid" in Tools is 4th, and in Game is 3th

I do not know better solution instead of making first request with hl=en and regexp cluster URLs like this:

`switch (opts.collection) {
          case 'topselling_paid':

[2019-09-06 17:38] icarcal commented on #333
@yurganov yes!
The GAMES related category have this difference, I currently working on this right now!
I think the FAMILY related ones have this issue to.
The fix that I made was for my company not to lose all the data for yesterday.
We managed to get some correct data yesterday, and I working to fix all this little problems today, implement tests, remove duplicated code, etc.

Thanks for all the

[2019-09-06 17:41] yurganov commented on #333
@icarcal you my hero!

[2019-09-06 18:21] abubakaraziz opened #335 "Error "App Not Found (404) " for gplay.permissions and gplay.reviews"
* Operating System:Ubuntu 18.04.2 LTS
* Node version:v10.15.3
* google-play-scraper version:6.2.8

### Description:
I was using Gplay. reviews and Gplay.permissions and recently both of them are giving "App not found(404)" on all the requests.

### Example code for permissions:
var gplay = require('google-play-scraper');
 gplay.permissions({appId: 'word.cross.game.wordcrossy.free'})
 .then(console

[2019-09-07 06:16] icarcal commented on #333
@yurganov

I was able to sometimes get 400 and sometimes 200 apps (my branch was really with a token problem, thanks for pointing that out), but google seems to respond randomly as you said.
I had some problems with results, because sometimes collections were "changing places".
For example DATING  for country br and language pt-BR, returns no paid app, but for other countries such as us it return

[2019-09-08 07:49] MojtabaRazmi commented on #335
yes i have this problem also

[2019-09-08 18:51] mitchross commented on #333
@icarcal I pulled your code down locally, reviews still do not work.

[2019-09-08 18:55] knife-dev opened #336 "Top apps error: URL has changed, or doesn't exist anymore?"
* Operating System: MacOS
* Node version: v10.12.0
* google-play-scraper version: 6.2.8

### Description:
Empty list, nothing returned at all.

### Example code:
[code]

### Error message:
- None, empty list, (I did some debugging and https://play.google.com/store/apps/category/ART_AND_DESIGN/collection/topselling_free?hl=en&gl=ar&num=9 doesn't exist anymore)
[code]

[2019-09-09 03:55] icarcal commented on #333
Hey guys!
I have updated the following methods:
 ```.list```
 ```.reviews```
 ```.permissions```
 ```.categories```

 ```.list ``` and  ```.reviews ``` methods introduce some breaking changes, since google allow you to fetch data only through ```batchexecute``` endpoint.
You can now only send the ```num``` parameter (it will allow you to fetch the desired number of category apps and reviews).
The

[2019-09-09 13:55] antoniobonna commented on #333
How can I use reviews now?

[2019-09-11 14:31] chekanskiy commented on #335
yes, i'm getting the same error

[2019-09-13 20:05] facundoolano commented on #336
duplicate of #333

[2019-09-13 20:05] #336 closed

[2019-09-13 21:15] #317 closed

[2019-09-13 21:16] #333 closed

[2019-09-13 21:16] #335 closed

[2019-09-13 22:26] loadingpix opened #342 "Cannot read property 'topselling_free'"
Using the aso package shows an error:

I'm using the 7.00 version of scrapper.

[code]

Any workaround?

[2019-09-13 23:43] icarcal commented on #342
Hey @loadingpix can you provide a code sample so we can reproduce the error?

[2019-09-14 10:05] loadingpix commented on #342
@icarcal  Sorry by bad, my workaround was installing version 7.00 and copy the google-play-scrapper folder to inside of aso/node_modules.

@facundoolano aso package needs to use this latest version to work. (Difficulty scores are broken too).

Thank you,
problem solved.

[2019-09-14 10:05] #342 closed

[2019-09-14 14:56] vitaliy901 opened #345 "Some Collections Doesn't Work"
Some Collections Doesn't Work:

- topselling_new_free
- topselling_new_paid
- movers_shakers

`gp.list({category: 'GAME', collection: 'topselling_new_paid'}).then(res => {
    console.log(res);
})`

`(node:13656) UnhandledPromiseRejectionWarning: Error: The collection is invalid for the given category or top apps`

I checked it for every category, but nothing still works ...

[2019-09-15 00:05] facundoolano commented on #284
fixed by #344

[2019-09-15 00:05] #284 closed

[2019-09-15 00:06] facundoolano commented on #319
fixed by #344

[2019-09-15 00:06] #319 closed

[2019-09-16 09:01] ArtyCooL opened #346 "Can't parse more than 100 reviews with num: 200"
* Operating System: Windows 10 x64
* Node version: v10.16.3
* google-play-scraper version: 7.0.1

### Description:
Can't get more than 100 number of reviews with _num: 200_
Should I use any other loops to get more than 100?

### Example code:
[code]

### Error message: (not exactly an error, just this string at the end of reviews file)

[code]

[2019-09-16 16:28] icarcal commented on #345
Hey @vitaliy901
I checked for the top apps and these collections does not exist.
You can see it here:
https://play.google.com/store/apps/top/category/GAME?hl=en&gl=us

But, right now just for the GAME and FAMILY related categories, we have the following url (for the new collections):
https://play.google.com/store/apps/new/category/GAME?hl=en&gl=us

BUT, this does not work with other categories, fo

[2019-09-16 16:34] icarcal commented on #346
Hey @ArtyCooL can you give one appId and lang, but I have checked this and we can get more than 100 reviews for any app / lang / country.

try [this](https://stackoverflow.com/questions/41669039/dumping-whole-array-console-log-and-console-dir-output-num-more-items) or [this](https://zaiste.net/nodejs_log_over_100_array_items/), it will dump the whole array to your `console.log`.

[2019-09-16 20:04] vitaliy901 commented on #345
@icarcal thanks

[2019-09-16 20:04] #345 closed

[2019-09-17 18:17] xulifan opened #347 "Error "Unexpected token function" when running sample code"
* Operating System: Ubuntu 16
* Node version: 6.17.1
* google-play-scraper version: 7.0.1

### Description:
Just trying to run the example code to get app details, but returned following error.

### Example code:
[code]

### Error message:

[code]

[2019-09-17 18:32] facundoolano commented on #347
your node version is outdated

[2019-09-17 18:32] #347 closed

[2019-09-20 10:04] chihara opened #348 "review's date returns 'Invalid Date'"
* Operating System: Ubuntu 16.04.2 LTS
* Node version: v12.10.0
* google-play-scraper version: 7.0.1

### Description:
One review's date returns 'Invalid Date' . not parsed.

I checked google play store's data. This review has Date data was 1 length array.
[code]

### Example code:
[code]

### Error message:
date is 'Invalid Date'.
[code]

[2019-09-20 12:18] vipinhelloindia commented on #347
![error](https://user-images.githubusercontent.com/700307/65326351-dc765800-dbce-11e9-87b0-c87a34d3facd.png)

[2019-09-20 12:48] icarcal commented on #347
@vipinhelloindia
Probably you bash is still using an old version of node.
Can you please double check your version of node running the `node -v` command?

[2019-09-20 20:56] #346 closed

[2019-09-22 00:12] icarcal commented on #348
@chihara, I just sent the PR #349 to fix this.
Thanks.

[2019-09-22 02:17] icarcal commented on #345
Hey @vitaliy901 the PR #350 is now openfor review and add support for the `new` collections.
Thanks.

[2019-09-23 22:16] kani04 opened #351 "Review Scraping does not work!!!"
* Operating System: Windows
* Node version: v10.15.1
* google-play-scraper version: 7.0.1

### Description:
Describe your issue here
Review Scraping returns Error

### Example code:
[code]

### Error message:

[code]

[2019-09-24 04:37] chihara commented on #348
@icarcal Great! thanks.

[2019-09-24 19:11] Joepruner commented on #351
Same exact problem here.

[2019-09-27 02:17] DaDong-G commented on #351
Same exact problem here.

[2019-09-27 03:32] pseudozach commented on #351
looks like .reviews is requesting "https://play.google.com/store/getreviews" and that URL doesn't exist. Now they request "https://play.google.com/_/PlayStoreUi/data/batchexecute" with obfuscated json as per https://stackoverflow.com/questions/57852366/cannot-scrape-google-play-reviews-by-using-url-https-play-google-com-store-ge#comment102237874_57852366
We need a hero :)

[2019-09-27 11:59] icarcal commented on #351
Hey guys.
This is already solved.

You can check discussion about this at #333 and the fix at #341

This was a breaking change, so be sure to update this module to the version 7+

[2019-09-27 15:31] kani04 commented on #351
Hi. Works After updating google-play-scraper. Thank you so much @icarcal

[2019-09-27 15:31] #351 closed

[2019-09-27 18:46] kani04 opened #352 "Reviews - any way to get more than one page???"
### Description:
Previously there was pagenum in review scraping where it can fetch upto 112 pages, each page getting 40 reviews.
Now it fetches only 1 page of 100 reviews
Is it possible to get more than 100 reviews by providing page number now??

[2019-09-27 20:22] icarcal commented on #352
Hey @kani04,
The `.reviews` method received a breaking change.
Right now, you can send at the `num` param to the method and it will fetch the desired quantity of reviews.

The docs have changed as well, and you can take a better look [here](https://github.com/facundoolano/google-play-scraper/blob/dev/README.md#reviews)

[2019-09-27 22:29] kani04 commented on #352
Thank you so much @icarcal .
I am able to scrape more reviews now. Thanks a lot!!!

[2019-09-27 22:29] #352 closed

[2019-10-01 20:47] facundoolano commented on #348
should be fixed in the latest version.

[2019-10-01 20:47] #348 closed

[2019-10-02 00:11] sayginburak commented on #345
also facing the same problem. what is the status of the MR? @icarcal
if it will not be merged soon I will fork, merge and use the package from github. thanks.

[2019-10-02 01:18] kani04 opened #354 "App Versions"
### Description:
Is it possible to get all version update dates and version number of a google play store app within a given range of time or the whole history of updates???

Please let me know if this is possible..

[2019-10-02 01:52] chihara commented on #348
@facundoolano Thanks!

[2019-10-02 02:58] facundoolano commented on #354
Not with the current methods available. If that information is publicly available in some Google Play page, then a method could be added to provide it.

[2019-10-02 03:08] kani04 commented on #354
Ok. Thank you. 👍

[2019-10-02 03:08] #354 closed

[2019-10-02 03:20] chihara commented on #348
@facundoolano @icarcal
I checked in latest version. But not fixed. Date returns null.
This is same data.
[code]

I think this is cause. please check again.
current
```const millisecondsLastDigits = String(dateArray[1]) || '000';```
correct
```const millisecondsLastDigits = String(dateArray[1] || '000');```

[2019-10-02 05:03] icarcal commented on #348
This is my bad.
I made a last minute change that introduced the bug again.

Just sent the #355 to fix it again.

Thanks for the report @chihara

[2019-10-02 05:11] chihara commented on #348
@icarcal Thanks :)

[2019-10-03 12:26] icarcal commented on #345
@sayginburak the #350  is still under review, you can check the whole discussion there.

[2019-10-06 14:14] abubakaraziz opened #356 "TypeError: Cannot read property 'map' of undefined in Gplay.Permissions"
* Operating System:Ubuntu 18.04.2 LTS
* Node version:v12.11.0
* google-play-scraper version:6.11.3

I have noticed for many app ids the code gives cannot read property of map undefined. These apps do exist in the play store with their permission. I have checked on both node version 10 and node version 12. Following apps produced the same issue:
1.app.clientell.app
2.mappstreet.fs_soccer
3.com.eboo

[2019-10-06 15:50] icarcal commented on #356
Hey @abubakaraziz
This is already fixed.

You can check the fix at #340

This package received a breaking change, so be sure to update it to the version 7+

[2019-10-06 15:59] abubakaraziz commented on #356
@icarcal I am using the latest git pull and I know about the breaking change. It gets data for the majority of the applications, but for some, it gives map undefined error. Let me download node modules again and check.

[2019-10-07 02:34] icarcal commented on #356
@abubakaraziz thanks for letting me know that you are using the 7.0.3 version
And thanks for reporting.
I just checked the error and it is really happening.

I just sent the PR #357
You can check the details there.

[2019-10-07 13:34] facundoolano commented on #356
published the patch.

[2019-10-07 13:34] #356 closed

[2019-10-07 13:40] facundoolano commented on #331
will be included in next version

[2019-10-07 13:40] #331 closed

[2019-10-08 03:40] abubakaraziz commented on #356
@icarcal Thank you for updating the repo. I really appreciate your work :)

[2019-10-12 19:47] abubakaraziz opened #359 "TypeError: Cannot read property 'chain' of null in Permissions method"
* Operating System:Ubuntu 18.04.2 LTS
* Node version:v10.16.3
*google-play-scraper version:7.0.4

### Description:
 I have noticed for many app ids the code gives TypeError: Cannot read property 'chain' of null.

### Example code:
const gPlay=require('./google-play-scraper');

(async()=>{

	try{
		let Permissions=await gPlay.permissions({appId:"com.skybornegames.battlepop"})
		console.log(Permissi

[2019-10-13 05:24] leexiangg opened #360 "How to use Proxy?"
I need get TOP-data from different country, so we must use vpn.

[2019-10-13 07:35] icarcal commented on #359
@abubakaraziz Thanks for reporting this.
Just sent a PR #361
You can check the details there.

[2019-10-13 08:12] abubakaraziz commented on #359
@icarcal Thanks for fixing it so promptly. I really appreciate that.

[2019-10-14 16:24] yurganov commented on #360
Nope, you do not need proxy for this (geo).

But if you want to use proxy, do smth like this:

data.requestOptions = {
        proxy: "http://" + randomProxy
    };

[2019-10-15 13:41] yogiprsetya opened #362 "Cross-Origin Request Blocked"
* Operating System: Windows 10
* Node version: 12.4.0
* google-play-scraper version: 7.0.4

### Description:
I have issues with Cross-Origin Request Blocked error.

### Example code:
[code]

### Error message:
[code]

### We have done
create `vue.config.js`
and write

[code]
and error accured with message:
```Error: Error requesting Google Play:NetworkError when attempting to fetch resource.```

[2019-10-15 13:46] facundoolano commented on #362
Are you running this library from the browser?

[2019-10-15 13:48] yogiprsetya commented on #362
yes, on localhost

[2019-10-15 13:49] facundoolano commented on #362
This is not supposed to run from the browser. AFAIK you can't avoid that CORS issue, maybe someone else knows how to handle it.

[2019-10-15 13:49] #362 closed

[2019-10-15 13:51] yurganov commented on #362
There is what you can do:

- Run local server on node.js on some port, write some handler that return you result of some function of this library, and access this handler from browser
- install some plugin for your browser that enable CORS

https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf

[2019-10-18 03:20] fnavarrogonzalez opened #363 "List call, missing collection features?"
First, really nice library and I think it has good quality codebase, congrats.

* Operating System: Linux
* Node version: v8.10.0
* google-play-scraper version: master

### Description:
In the list option, the readme said that you can pass an "collection" parameter to distinguish between top, top free, top selling...
But as I see in the list.js the parameters is not used at all and just retrieve a

[2019-10-18 03:24] fnavarrogonzalez commented on #363
I reply myself:
Related issue: https://github.com/facundoolano/google-play-scraper/issues/345
PR: https://github.com/facundoolano/google-play-scraper/pull/350/files

[2019-10-18 03:24] #363 closed

[2019-10-24 14:03] fotisskal commented on #345
@icarcal do we have any update on this?

I also seem to get the same error "The collection is invalid for the given category or top apps" for the combination
        "category": "events",
        "collection": "trending",
        "country": "id",
        "number": "20"
Is it related?

[2019-10-25 14:38] icarcal commented on #345
@fotisskal #350 still under review, I have no update either.

I tested the version 7.0.4 with the data that you sent, and I was able to get the right response.
No error was raised.

What version are you using?

[code]

[2019-10-31 00:16] arddluma commented on #274
Same.

[2019-11-05 02:55] supersoftno1 opened #364 "how to get more than 100 apps?"
Thanks for this project.
I want to know that how to get more apps?
What I want to ask is how to get the app by pagination.
i find the code like this:
-----------------------------------------
function getBodyForRequests ({
  numberOfApps = 100,
  withToken = '%token%'
}) {
  const body = `f.req=%5B%5B%5B%22qnKhOb%22%2C%22%5B%5Bnull%2C%5B%5B10%2C%5B10%2C${numberOfApps}%5D%5D%2Ctrue%2Cnull%2C%5B96%2

[2019-11-05 03:00] #364 closed

[2019-11-05 03:01] supersoftno1 opened #365 "How to get the app by pagination"
Thanks for this project.
I want to know that how to get more apps?
What I want to ask is how to get the app by pagination.
i find the code like this:
----------------------------------------------
var gplay = require('google-play-scraper');
gplay.list({
    category: gplay.category.GAME_ACTION,
    collection: gplay.collection.TOP_FREE,
    num: 2
  })
  .then(console.log, console.log);
----------

[2019-11-05 03:21] supersoftno1 commented on #298
@tarunima

console.log(args[0])

gplay.reviews({
    appId: 'indwin.c3.shareapp',
    page: args[0],
    sort: gplay.sort.NEWEST
}).then((obj)=>{
    console.log(obj)

is there page parameter?

[2019-11-12 11:14] manishydv opened #366 "why i get this error. need help me."
var gplay = require('google-play-scraper');
gplay.app({ appId: 'com.zhiliaoapp.musically' }).then(function(data) {
        console.log("resolved");
        console.log(data);
    }).catch(function(err) {
        console.log("--catch--err-", err);
    });
==============
Resposne
==========
{ Error: App not found (404)
    at F:\myAPP\node_modules\google-play-scraper\lib\utils\request.js:44:19
    a

[2019-11-12 11:41] prostoVladislav commented on #365
in https://github.com/facundoolano/google-play-api/blob/master/lib/index.js line: 67

param "start" in version 6 works fine. in 7 version broken.

/* App list */
router.get('/apps/', function (req, res, next) {
  function paginate (apps) {
    const num = parseInt(req.query.num || '60');
    const start = parseInt(req.query.start || '0');

    if (start - num >= 0) {
      req.query.start = start

[2019-11-15 19:41] archaeopterix opened #367 "Error in "gplay.app" -> Cannot read property '4' of null"
Hello everyone

I am getting this error

[code]

Thanks!

[2019-11-16 00:43] salmanee opened #368 "Scraper always returning 199 apps"
Hi everyone,

I used this tool few months ago to return the top 600 free apps from GooglePlay between Feb and April and it seemed to work fine then. Today, I tried running it again using:
`http://localhost:3000/api/apps/?start=100&num=300`

The results now contain only 199 apps and it seems to always return the first 199 apps regardless of the value passed in the "start" parameter.

Has there been

[2019-11-16 11:00] yurganov commented on #368
Yes, now you can only get 200 apps

This is because of changes on Google play side.

[2019-11-18 10:25] leahlee14083 opened #370 "How to get all list of game, appid, and company"
Hi,

I am only allowed to retrieve 200 apps at one run. Is it possible to get a list of all apps in google play?

Can you tell me how and what approach should I do to retrieve all apps?

I really need all apps information. thanks.

[2019-11-18 10:32] yurganov commented on #370
No, there is no way to do this.

[2019-11-18 13:23] icarcal commented on #368
@salmanee you can see a little bit more about the change pointed out by @yurganov [here](https://github.com/facundoolano/google-play-scraper/issues/333#issuecomment-529290209)

[2019-11-18 14:19] facundoolano commented on #370
Google doesn't expose any way to get all apps from the store. The closest you can get is to exhaust all lists and try all search combinations.

[2019-11-18 14:19] #370 closed

[2019-11-18 14:20] #368 closed

[2019-11-18 14:24] facundoolano commented on #366
This works fine on latest package, you're probably using an outdated one. This is the reason the template asks for the version.

[2019-11-18 14:24] #366 closed

[2019-11-18 14:25] facundoolano commented on #367
Works on latest, you didn't provide a version.

[2019-11-18 14:25] #367 closed

[2019-11-18 14:25] #360 closed

[2019-11-18 14:28] facundoolano commented on #359
This is fixed in v7.0.5

[2019-11-18 14:28] #359 closed

[2019-11-18 14:31] facundoolano commented on #330
@SwapnilSoni1999 closing as you didn't give details yourself about what you want to accomplish exactly.

[2019-11-18 14:31] #330 closed

[2019-11-18 14:40] icarcal commented on #365
The scrapper was changed, you can now get all the apps by sending the `num` parameter.
You can see more information about the change [here](https://github.com/facundoolano/google-play-scraper/issues/333#issuecomment-529290209)

[2019-11-18 14:43] #365 closed

[2019-11-19 02:49] sgallese commented on #311
fullDetail seems to be working for me.

[2019-11-23 12:22] KavarH commented on #311
For me it is still not working.
It is just showing a short summary.
Doing what @girotomas wrote you see the difference.

[2019-11-25 15:02] yurganov opened #373 "Cannot read property 'map' of null"
* Operating System: osx
* Node version: 12.4.0
* google-play-scraper version: google-play-scraper@7.1.0

### Description:

Cannot fetch app details

### Example code:
[code]

### Error message:

[code]

[2019-11-25 15:03] yurganov commented on #373
Seems to appears when app do not have screenshots

[2019-11-25 15:28] yurganov commented on #373
Fixed in https://github.com/facundoolano/google-play-scraper/pull/374

[2019-11-25 15:53] kyzylmonteiro commented on #368
Is there a way to get around this?

[2019-11-25 16:46] yurganov commented on #368
no

[2019-11-25 18:29] facundoolano commented on #373
merged

[2019-11-25 18:29] #373 closed

[2019-12-10 03:31] chenfeifan opened #377 "app interface"
* Operating System: centos 7.2
* Node version: v10.8.0
* google-play-scraper version: 7.1.1

### Description:
I found a PKG that could not be obtained using the package

### Example code:
[code]

### Error message:

[code]

[2019-12-10 14:14] yurganov commented on #377
Works for me

[code]

BTW, «it can't find the PKG» is not error from this package.

Please, provide whole code.

[2019-12-10 14:16] yurganov commented on #329
Probably you have some network issues with connecting to Google Play.

[2019-12-17 13:29] yurganov opened #378 "Add new field if app is avaliable in this geo"
* Operating System: macOS
* Node version: 12.4.0
* google-play-scraper version: 7.1.1

### Description:
There are some apps that does not avaliable in some geo.

For example,

https://play.google.com/store/apps/details?id=com.iqoption&gl=us is not available in US,
but is available in Russia: https://play.google.com/store/apps/details?id=com.iqoption&gl=ru

If app is available, there is «Install» b

[2019-12-17 13:38] yurganov commented on #378
Fixed in https://github.com/facundoolano/google-play-scraper/pull/379, need to approve way of fixing

[2019-12-19 13:55] eltriplet commented on #311
If you want to store the result in a json array, instead of printing on terminal, the following adaptation of @girotomas code worked for me:

var gplay = require('google-play-scraper');

justDoIt();

async function justDoIt() {
    let res = await gplay.search({
        throttle: 5,
        term: "panda",
        num: 2,
        fullDetail: true
    })
    res = await getFullRes(res);
    console.

[2019-12-26 22:36] yurganov opened #380 "Add currency and price to method list"
* Operating System: macOS
* Node version: 12.4.0
* google-play-scraper version: 7.1.1

### Description:
I am using list method to collect information about free/paid/grossing top.

There is no fields «price» and «currency». Let's fix this.

### Example code:
[code]

### Error message:

None

[2019-12-27 12:09] facundoolano commented on #380
fixed

[2019-12-27 12:09] #380 closed

[2020-01-08 15:08] AndreiD opened #382 "if quotes " are present in the app summary, they are not escaped"
using latest version

I get them using **gplay.list({**

as you see below there are " in the summary, but they are not escaped, --> and they fuck up the json

[code]

[2020-01-08 15:08] AndreiD commented on #382
a simple solution would be to base64 it

[2020-01-08 16:57] AndreiD commented on #382
ugly fix:

[code]

[2020-01-08 17:55] AndreiD commented on #382
so apparently also some strange characters appear from time to time so add this one too

element.summary = utf8.encode(element.summary);

[2020-01-10 10:06] moelfassi opened #383 "Last 4 months data"
Please where can i find "Top New Free" data lists, after google changes since 08/2019? none in Appannie or Sensor Tower

[2020-01-18 15:58] KavarH commented on #311
I did start in my fork to work on a fix.

Not sure if its already working in all cases.
Additionally, I'm not such a js pro...
However, maybe something comming soon

[2020-01-26 11:29] ddamddam commented on #274
Same here. I found out 'jsonp' can be solution. If I fix it. I'll post about it.

[2020-01-28 20:30] facundoolano commented on #382
There's no JSON involved here, if you give me an actual example of the code you are running I may understand what you are seeing.

[2020-01-29 12:01] AndreiD commented on #382
what do you mean there's no JSON involved ? how do you call that structure that you get from gplay.list.. ?

well... get the top 50 free apps in NEWS_AND_MAGAZINES  ... you should see it returns the above app ...

[2020-01-29 12:50] facundoolano commented on #382
This is a javascript API, that returns javascript objects, not JSON. JSON is a text format. What you may see that's messed up is the way your console represents the object (making it non valid JSON), but the values of the strings can't be invalid just because they contain quotes.

[2020-01-29 12:50] #382 closed

[2020-01-29 15:22] AndreiD commented on #382
so if you're subtitle on github says that you like "clean apis", why you don't clean up this API ?

[2020-01-29 15:28] facundoolano commented on #382
Accept the mystery.

[2020-02-06 13:02] bellalyassin opened #386 "gplay.list return some result with diferetnt collection"
even if we change collection in
var gplay = require('google-play-scraper');

gplay.list({
        category: gplay.category.GAME_ACTION,
        collection: gplay.collection.movers_shakers,
        num: 5
    })
    .then(console.log, console.log);

we get the same result

[2020-02-08 15:53] gabidabet opened #387 "Cannot read property '4' of null in gplay.app"
* Operating System:Windows 10
* Node version: v10.15.0
* google-play-scraper version: last version

### Description:
I get that error for somme app ids like :
-air.com.peppapig.paintbox "the exemple"
-com.netmarble.mherosgb
-com.wb.goog.injustice

### Example code:
[code]

[2020-02-10 10:18] anh1979 opened #388 "Finding out about app status change?"
* Operating System: MacOSX 10.14.6
* Node version: v10.15.3
* google-play-scraper version: 7.1.1

### Description:
Hi,
I am trying to find out when the app state changes in google play console:
you make an update and they take the app into a review process (automated or manually), then a status change happens and the notification bell in the webpage tells you that the update you made is now presen

[2020-02-10 12:20] facundoolano commented on #388
You could look at the `version` field, or maybe that `updated` timestamp.

[2020-02-10 19:43] s-h-a-d-o-w commented on #387
Same for `.list`, e.g.:
[code]

I suppose Google changed the structure of the site? :/

[2020-02-10 21:51] icarcal commented on #387
@gabidabet and @s-h-a-d-o-w thanks for reporting.
Yes, gplay changed the structure.

I'll send a PR to fix this, ASAP

[2020-02-12 10:25] KavarH commented on #311
Fixed in #384

[2020-02-12 13:53] #311 closed

[2020-02-12 13:54] facundoolano commented on #387
This should be fixed now.

[2020-02-12 13:54] #387 closed

[2020-02-12 13:55] #383 closed

[2020-02-19 06:15] koel26 opened #390 "Number of apps returned"
* Operating System:
* Node version:
* google-play-scraper version:

### Description:
Describe your issue here

### Example code:
[code]

### Error message:

[code]

[2020-02-19 06:15] #390 closed

[2020-02-19 06:15] koel26 commented on #390
submitted by mistake

[2020-03-03 11:05] Annanas12 opened #391 "Scrapping of country-specific reviews"
Hi,
i am a github novice and would like to know if the scraper can scrape reviews based on countries or if the country ID in the code is just a reference to find the app i want?
To my knowledge, it is currently only possible to scrape country specific reviews in the Apple app store. In the Google Play Store it was only possible to scrape reviews for different languages. Therefore, it would be grea

[2020-03-09 14:17] s-h-a-d-o-w opened #392 "Feature request: maxRetries"
It's not a big deal but here and there, Google's servers will throw a `500`, resulting in having to repeat hundreds of requests at least when one retrieves a list with `fullDetail`.

This could be easily avoided by letting the user supply an option for how often the scraper should retry a given request before actually failing. (At least if I see it correctly, I guess one could simply wrap the requ

[2020-03-25 19:17] MaxSRichter opened #394 "... 99 more items when scraping lists"
In my list output, I'm only receiving 100 values despite the default value being 500.
The bottom of the output reads "... 99 more items".

 var gplay = require('google-play-scraper');

gplay.list({
    category: gplay.category.GAME,
    collection: gplay.collection.TOP_FREE,
    throttle: 10
  })
  .then(console.log, console.log);

Thanks!

[2020-03-27 01:00] TravisWhitehead opened #395 "Four collections are invalid for every category: TOP_FREE_GAMES, TOP_PAID_GAMES, NEW_FREE_GAMES, NEW_PAID_GAMES"
* Operating System: macOS Catalina (10.15.3)
* Node version: v13.8.0
* google-play-scraper version: 7.1.2

### Description:
It appears that four of the collections are invalid for every category. Every category I try for these collections triggers this error: https://github.com/facundoolano/google-play-scraper/blob/2230e30652411697f6474dbe2a2090fd034a9a2e/lib/utils/parseCategoryApps.js#L51

* TOP_

[2020-03-27 01:03] TravisWhitehead commented on #394
This is not an issue with google-play-scraper, it's a limit on how many things `console.log` will output by default. If you search the issues for this repo you will find numerous issues asking about the same behavior.

See https://stackoverflow.com/questions/41669039/dumping-whole-array-console-log-and-console-dir-output-num-more-items

[2020-03-31 08:01] sulaiman21 opened #396 "Issue with 404 app not found,"
* Operating System: Windows 10 build 18363
* Node version: 13.10.1
* google-play-scraper version: 7.1.2

### Description:
I am working with `aso` module and i am getting `404 App not found` error. I am sending a very simple request with just 1 keyword and that is used in example.

### Example code:
[code]

### Error message:

[code]

[2020-03-31 12:52] facundoolano commented on #396
Aso issues should go to the aso repository.

[2020-03-31 12:52] #396 closed

[2020-04-02 07:24] hntee opened #397 "Is there a way to get all the apps in Google Play?"
Hi, I'd like to crawl all the apps with category and description.

I tried something like the following code in order to get all the apps in a given category,
[code]
but it seems that the maximum result size is 200.

Is there a way to get all of the apps in any category?

[2020-04-02 12:55] alfa-jess opened #398 "Add "Augmented Reality" as a category"
<!--
Hi !
Thanks for such a nice and useful repository. I was wondering if it is possible to add  "Augmented reality" as a category to retrieve a list of applications. This is new in  Google Play.  I believe is not consider a category itself but an added feature to some apps. You can check it here: https://play.google.com/store/apps/stream/baselist_featured_arcore
Thanks in advance!

[2020-04-02 13:42] alfa-jess commented on #398
Hi! Thanks for your nice and useful repository. Is it possible to add "Augmented Reality" as a category? I believe is new filter in the Google Play Store. I am not 100% sure that is a true category or just another filter. Here is the link... https://play.google.com/store/apps/stream/baselist_featured_arcore

Thanks in advance!

[2020-04-12 19:16] AdityaAnand1 commented on #397
@hntee Were you able to find a solution for this?

[2020-04-12 20:07] AdityaAnand1 opened #399 "Recommended way to crawl entire play store?"
What's the recommended way to discover the list of all app packages for crawling the entire play store data set?

[2020-04-15 02:39] Giszmo opened #400 "From 100 appIds, one consistently returns no result"
I'm monitoring about 100 apps and it worked great until a week ago or so when one app started returning `Error: App not found (404)` yet when checking with a browser, [the app is there just fine](https://play.google.com/store/apps/details?id=tech.insense.sensewalet). What could be the reason for this discrepancy?

Edit: Just to confirm, 27 days later this one appId is still the only one not workin

[2020-04-16 02:57] hntee commented on #397
no... so I just use the apps' package names that I have to search for them.

[2020-04-16 07:42] AdityaAnand1 commented on #397
Where do you get the list of packages? By searching keywords?

[2020-04-27 15:54] somedayfat opened #401 "How to make csv file from the result?"
i'm new to this and i wanna save scraping result as csv file? anyone can help?

[2020-05-05 17:54] edelciomolina commented on #163
Hi!
The country list can be found here
https://developers.google.com/custom-search/docs/xml_results_appendices#country-codes

[2020-05-08 14:35] Primokorn commented on #400
I couldn't give a number but I do have issues too for 2 weeks.

I'm stuck on a (random?) package. Example:
![image](https://user-images.githubusercontent.com/5938828/81416335-dfb45900-9149-11ea-9513-ad07166a45e4.png)

I have to stop the process. Several downloaded icons have a size of 0 Kb (I can't open them).

[2020-05-08 14:41] Primokorn commented on #400
It happened again with only 8 packages:
![image](https://user-images.githubusercontent.com/5938828/81416918-b5af6680-914a-11ea-86f8-d60e69c53c13.png)

[2020-05-11 17:24] vibeordie opened #402 "Question: How to return SEARCH results beyond 250?"
Hi Facundo,
    Thanks for this library. It really helps. I've checked the code and it seems you have hard-coded the max results for term based search method.
I have a really simple task, to get all appIds fields for the term "golf". I get 250 of them (which is nice), but I don't seem to find the way to get the rest of them. I've tried passing the start param but seems it's deprecated. How to work

[2020-05-11 21:59] vibeordie commented on #402
Sorry Facundo, just checked and noticed that your tool works just fine. It's google play store that does puts the 250 limit on search results, even if you are normally navigating the page. So not related to your scraper. thanks

[2020-05-11 22:09] #402 closed

[2020-05-12 01:57] yurganov commented on #401
with a magic of programming

[2020-05-12 01:59] yurganov commented on #400
shit happens

that's because of your ISP

[2020-05-12 02:42] facundoolano commented on #401
out of the scope of this library.

[2020-05-12 02:42] #401 closed

[2020-05-16 14:09] Primokorn commented on #400
Same issue with the CLI client of ProtonVPN. I was hoping it could help.

[2020-05-20 13:38] R1cro opened #403 "[Question & Need help] Google Play Market returns only 200 apps per request from categories page.."
Good afternoon.

As I understand it, the Google Play Market has limited the maximum number of applications in the category to 200.

Nevertheless, I would like to clarify whether it is possible to somehow get more than 200 apps or is it impossible? Is there a way to get around this?

Thanks for any info on this.

[2020-05-21 02:13] Giszmo commented on #400
@Primokorn's issue is not mine. My issue is not random at all. My issue is with one app consistently since more than a month and I would appreciate if somebody could check if using google-play-scraper works for them with the appId tech.insense.sensewalet.

[2020-05-21 06:46] icarcal commented on #400
@Giszmo can you provide the language and country that you are using?
By default, this lib uses `us` as country and `en` as lang.

The `.app` method adds two parameters to the link that you provide: `hl` and `gl`.

So, if I call the method like this:
[code]
The real url being called is
`https://play.google.com/store/apps/details?id=tech.insense.sensewalet&hl=en&gl=us`

Which give you the same error

[2020-05-21 16:20] icarcal commented on #397
Right now, there is no way of doing this.
@facundoolano answered that [here](https://github.com/facundoolano/google-play-scraper/issues/370#issuecomment-555034805).

[2020-05-22 04:05] Giszmo commented on #400
I'm in Chile. So they de-published the app for the US market. Makes sense. Many Bitcoin business avoid the US. Thanks for clarifying.

[2020-05-22 04:05] #400 closed

[2020-05-22 17:11] Primokorn commented on #400
For the records: my issue is solved. I no longer have a timeout. Maybe a temporary issue from my ISP as suggested.
Glad for you @Giszmo :)

[2020-05-22 17:42] Primokorn commented on #400
@icarcal Can I completely remove the language `&hl=en&gl=us` from the url?
We can access to the url without these 2 parameters: `https://play.google.com/store/apps/details?id=tech.insense.sensewalet`

Thanks!

[2020-05-23 15:56] icarcal commented on #400
@Primokorn right now there is no way of doing that, and the docs explicitly says what lang and country it defaults to.

I don’t see the point of removing those parameters, since this allow us to know exactly from what country and lang we are getting the app data.

[2020-05-23 16:07] Primokorn commented on #400
@icarcal Because we miss apps which are not available in English. I can't do a "trial and error" language operation for each "app not found".
I only this tool to download icons so I don't need to know the country.

[2020-05-23 16:23] facundoolano commented on #400
That default is intentional and I prefer it to omitting language by default which would produce inconsistent behavior of the same piece of code on different locations/setups.

But I would accept a PR with an option to explicitly tell you want to omit the country, e.g. if you pass {"country": false} then omit the option and use the "machine default". But this would need to be respected in all metho

[2020-05-23 17:15] Primokorn commented on #400
@facundoolano Thanks for your understanding. Unfortunately I have no dev skill to suggest a PR.
I work on Android icon packs, I'm more a designer than a developer. Thanks anyway.

[2020-05-23 17:18] icarcal commented on #400
@Primokorn @facundoolano I’ll move this discussion to another issue, as a suggested feature so we can have a better history on this, ok?

[2020-05-23 22:08] icarcal opened #404 "Suggested feature: allow "machine default" country / lang through an options parameter"
### Description:
As suggested [here](https://github.com/facundoolano/google-play-scraper/issues/400#issuecomment-632824987), remove the `hl` and `gl` from request url in a method call through an option parameter

### Why?
[Some apps are not published in the us](https://github.com/facundoolano/google-play-scraper/issues/400#issuecomment-632466973), but are accessible through common gplay url

### R

[2020-05-27 16:58] JordanFriendshuh opened #405 "Suggested Feature: In app info, say if it's a xapk or a regular apk"
I would really appreciate a feature in the app details that says if the apk found on gplay is a regular apk or if it's an xapk.  The hardware I am working with doesn't work wtih xapks.

Hopefully this isn't a terribly hard feature.

[2020-05-27 22:12] icarcal commented on #405
@JordanFriendshuh Is this information available at the gplay store app page?

[2020-05-28 10:55] AdityaAnand1 opened #406 "fullDetail is broken for .similar()"
Passing `fullDetail: true` for the similar method has no effect.

[2020-06-04 18:44] gamebenchjake commented on #405
I don't believe Google Play offers XAPK downloads, as all it is is a compressed directory with the APK and an OBB file. The XAPK was made to allow clean installs of apps downloaded off of sites OUTSIDE of Google Play.

@icarcal After looking through the raw API responses from the batchExecute endpoint, doesn't look like there's any reference to whether it's an xapk or not which is in line with my

[2020-06-16 01:35] berrybar opened #407 "How can i solve this problem??"
* Operating System: windows 10
* Node version: v10.16.0
* google-play-scraper version: 7.1.1, 7.1.2

### Description:
Google rankings cannot be retrieved from an hour ago.

When I run the program, it returns an error

How can i solve this problem???

### Error message:

Error: Error requesting Google Play:Client network socket disconnected before secure TLS connection was established

Error: The c

[2020-06-16 02:01] Hazealign commented on #407
So do I.

For more Information, Here's my full log and simple PoC code.
[code]

Log: https://gist.github.com/Hazealign/df223bc1aa146c7d688fae5686c0696e
(I set `DEBUG=*` so log output is long.)

[2020-06-16 02:25] berrybar commented on #407
I ran this code.

const playClient = require('google-play-scraper')

playClient.list({
  num: 10,
}).then(console.log).catch(console.error)

It returned this error.

Error: The collection topselling_free have no clusters
    at getParsedCluster
(D:\workspace\googleplayscraper\node_modules\google-play-scraper\lib\utils\parseCategoryApps.js:41:11)
    at parseCategoryApps
(D:\workspace\googleplayscr

[2020-06-16 02:36] icarcal commented on #407
Google play changed the return of some urls.
I'm trying to figure out the mappings.

`.app` endpoint is broken too.

[code]

`(node:54458) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'replace' of undefined`

[2020-06-16 02:48] berrybar commented on #407
I'll wait for the good news.

[2020-06-16 04:21] tantom commented on #407
TypeError: Cannot read property 'replace' of undefined
    at Object.descriptionText [as fun] (/nodejs/app-insights/node_modules/google-play-scraper/lib/app.js:145:51)
    at /nodejs/app-insights/node_modules/google-play-scraper/lib/utils/scriptData.js:22:19
    at XWrap.f (/nodejs/app-insights/node_modules/ramda/dist/ramda.js:5955:28)
    at XWrap.@@transducer/step (/nodejs/app-insights/node_modu

[2020-06-16 04:24] jayesh83 opened #408 "TypeError: Cannot read property 'replace' of undefined"
https://github.com/facundoolano/google-play-scraper/issues

* WINDOWS 10:
* node version: v12.10.0.:
* google-play-scraper version: 6.10.3

### Description:
How do I solve this error

**Error message**

TypeError: Cannot read property 'replace' of undefined
    at Object.descriptionText [as fun] (D:\Node JS\Gplay API\node_modules\google-play-scraper\lib\app.js:145:51)
    at D:\Node JS\Gplay API\n

[2020-06-16 04:30] icarcal commented on #407
The PR #409 is now up for review.
If you need this ASAP, try [my branch](https://github.com/icarcal/google-play-scraper/tree/hotfix/app-details-change)

[2020-06-16 04:31] icarcal commented on #408
@jayesh83 Hey, take a look at #407 and the PR #409

[2020-06-16 08:22] yashwant-BST commented on #408
Hi @icarcal , I am facing same issue with the latest version. Please help.

TypeError: Cannot read property 'replace' of undefined
    at Object.descriptionText [as fun] (/node_modules/google-play-scraper/lib/app.js:145:51)
    at /node_modules/google-play-scraper/lib/utils/scriptData.js:22:19
    at XWrap.f (/node_modules/ramda/dist/ramda.js:5955:28)
    at XWrap.@@transducer/step (/node_modules/

[2020-06-16 10:26] lau1944 commented on #407
Tried it, My container can't build this branch.

[2020-06-16 10:37] bumsun opened #410 "Now Search method does not work"
* Operating System: Ubuntu
* Node version: v8.17.0
* google-play-scraper version: 7.1.2

Now Search method does not work.
Always returns an empty response.

[code]

[2020-06-16 12:45] facundoolano commented on #407
fixed by #409

[2020-06-16 12:45] #407 closed

[2020-06-16 12:46] facundoolano commented on #408
duplicate of #407

[2020-06-16 12:46] #408 closed

[2020-06-16 13:18] adtimizer commented on #410
it seems like google has changed their mapping. also **app** doesn't work. will update if i'll have a solution later today

[2020-06-16 13:37] icarcal commented on #211
@facundoolano #409 fix this issue?

[2020-06-16 13:46] icarcal commented on #410
@adtimizer `.app` method was solved by #409
I tested the `.search` method with the contents of the PR and it is working fine.
Can you give it a try @bumsun ?
Or provide an app id that is not working for you?

[2020-06-16 14:20] adtimizer commented on #410
@icarcal thanks for pointing it out. works for me now.

[2020-06-16 15:32] facundoolano commented on #410
Closing then.

[2020-06-16 15:32] #410 closed

[2020-06-17 00:52] sampathkolanu commented on #407
@facundoolano I feel like this issue was repurposed to fix `gplay.app` method not working and ignores the original issue which is `gplay.list` doesnt work with any possible `gplay.category` or `gplay.collection`

[2020-06-17 00:54] sampathkolanu commented on #395
@TravisWhitehead did you had any luck getting the `gplay.list` working with any of the possible category, collection combination?

[2020-06-17 01:06] icarcal commented on #407
@sampathkolanu can you provide a code example?

I tried with the following code:
[code]
And  the response seems correct.

[2020-06-17 01:17] sampathkolanu commented on #407
@icarcal I realized later that the PR you gave fixes both .app and .list methods.

[2020-06-17 02:53] icarcal commented on #395
@TravisWhitehead you are right
These collections work only without any category.
For example, the following codes are valid:
<details>
<summary>.list without categories examples</summary>
<p>

[code]
</p>
</details>

That's because these collections access the main Google Play Top page:
https://play.google.com/store/apps/top/?hl=en&gl=us
<details>
<summary>Google Play Top Main Page</summary>
<img

[2020-06-18 14:51] jamesthecat7 opened #411 "Pagination of reviews"
I notice that pagenumber has been been removed when querying app reviews.

How does one page through app reviews

[2020-06-18 15:21] cgwyllie commented on #387
@facundoolano / @icarcal / @ We've been seeing this error coming up in our logs recently.

https://github.com/facundoolano/google-play-scraper/pull/409 was merged 2 days ago which seems to have changed the mappings for comments from `ds:18` to `ds:17`.

The `ds:18` field seemed to be part of the original fix for this issue in: https://github.com/facundoolano/google-play-scraper/pull/389

Has this

[2020-06-20 21:13] icarcal commented on #387
@cgwyllie the mapping is correct for countries other than `us`

Specifically for `us`, google play is returning a string 'er' at the position `ds:17` and the correct comments at `ds:19`

Check the examples for the same app in different countries:
<details>
<summary>.app with multiple countries example</summary>

[code]

</details>

Unfortunatelly the tests for this lib do not check if the comments

[2020-06-21 01:00] icarcal commented on #387
@cgwyllie #412 is now up for review

[2020-06-22 11:43] cgwyllie commented on #387
@icarcal Fantastic, thank you! Makes sense with the different regions, we hadn't considered that as a contributing factor.

[2020-06-22 16:34] usman10scorpio opened #413 "What does max and min installs means ? How is your maxInstalls different than actual installs on android app ( play console )"
Hi

Thanks for this fabulous package, I was going through the docs and i was unable to find what does max and min installs means?

Does maxInstalls mean total no of downloads ?

Then what does minInstalls mean ?

How are you calculating maxInstalls ? I checked my installs on android play conole and then I checked the package maxInstalls, they are different. Why ?

![Screenshot_2020-06-23-16-38-26-

[2020-06-22 17:05] icarcal commented on #411
@jamesthecat7 I sent a PR to bring back the reviews pagination, check #414

I the mean time and with the lib version 7+, you can send the `num` parameter for how many reviews you want.
The lib will automatically fetch the desired number of reviews for you.

[2020-06-22 18:56] jamesthecat7 commented on #411
I've used your fork and it works perfectly. Thank you icarcal.

[2020-06-22 18:56] #411 closed

[2020-06-23 12:36] facundoolano commented on #413
When the package was first implemented, google play used to show install like this in the site: `Installs 1,000 - 5,000`. The number of installs wasn't exact, it meant it was somehwere in that range.

Then they changed the UI, and started reporting like `installs 1,000+`. The ranges are the same, but they only report the lower limit. We kept the entire range for backward compatibility (and because

[2020-06-23 12:36] #413 closed

[2020-06-23 12:56] usman10scorpio commented on #211
what does maxInstalls shows ?  why it is different than play console install stats ?

[2020-06-23 13:00] usman10scorpio commented on #413
so should I consider maxInstalls or not ?

[2020-06-23 13:08] usman10scorpio commented on #413
Why the maxInstalls count and android play console stats are not matching ?

[2020-06-23 14:07] usman10scorpio opened #415 "Why the maxInstalls count and google play console stats are not matching ?"
I have posted this before but @facundoolano did not answer my question. I have checked this with 2 apps.

I compare the **maxInstalls** count with **google play console stats report** and they dont match at all.

Here are the steps i followed.

I set first dropdown to user acquisitions
I set the time intervals to monthly
I set the calendar dropdown to lifetime.

![image](https://user-images.github

[2020-06-23 14:08] icarcal commented on #413
As @facundoolano said the initial purpose of the maxInstalls is different from what is reflecting now.

`minInstalls` reflects the `1,000,000,000+` installs at google play as you can see in the picture above:
<img width="147" alt="Screen Shot 2020-06-23 at 10 51 53" src="https://user-images.githubusercontent.com/11530480/85412080-94120f00-b53f-11ea-8a56-98206b2f171f.png">

`maxinstalls` field was

[2020-06-23 14:10] icarcal commented on #415
As @facundoolano said the initial purpose of the maxInstalls is different from what is reflecting now.

`minInstalls` reflects the `1,000,000,000+` installs at google play as you can see in the picture above:
<img width="147" alt="Screen Shot 2020-06-23 at 10 51 53" src="https://user-images.githubusercontent.com/11530480/85412080-94120f00-b53f-11ea-8a56-98206b2f171f.png">

`maxinstalls` field was

[2020-06-24 10:14] usman10scorpio commented on #415
@facundoolano @icarcal is the histogram count equals to ratings ?

[2020-06-26 18:02] icarcal commented on #415
@usman10scorpio
The histogram represents this view from google play:
![Screen Shot 2020-06-26 at 14 33 55](https://user-images.githubusercontent.com/11530480/85885219-5d93f880-b7ba-11ea-990c-5819e873c1cf.png)

[2020-06-30 07:46] honeylucky opened #416 "The collection topselling_new_free is invalid for the given category, top apps or new apps"
when I use code:

gplay.list({
    category: gplay.category.TOOLS,
    collection: gplay.collection.NEW_FREE},
    num: 300
}).then(function (item) {
    console.log(JSON.stringify(item));
});

give me error:
The collection topselling_new_free is invalid for the given category, top apps or new apps

[2020-07-01 20:05] s-h-a-d-o-w commented on #387
Just wanted to note that this doesn't affect just using certain languages but also e.g. the following:
[code]

I tried using @icarcal's fork directly as a dependency but still get that error.

[2020-07-01 20:10] icarcal commented on #387
@s-h-a-d-o-w thanks for reporting.
Just to be clear, you meant the comments not being parsed correctly, right?
The same as @cgwyllie reported, but for the `.list`method?

Gonna take a better at this later today

[2020-07-01 20:30] s-h-a-d-o-w commented on #387
I don't know the source of the problem (just a user of this library, not a contributor :) ). This is the output:
[code]

[2020-07-05 13:52] prabhatCH commented on #416
I get `Error: The collection top_selling_free have no clusters`. Probably the 2 are related!

[2020-07-08 15:54] AdityaAnand1 opened #417 "Is there a way to tell whether it's a game or an app?"
Don't see any fields that point to this, any suggestions?

[2020-07-08 15:56] AdityaAnand1 commented on #415
I'm wondering what is everyone's use case, what are you guys using the install count for exactly?

[2020-07-08 16:02] LinqLover opened #418 "Confusion about reviews' "title" field"
Each review contains a field named `title`, but in our scenario, it is always null. I took a look at the code and found the following confusing fragments:

- https://github.com/facundoolano/google-play-scraper/blob/50502284a7f6d2ffbf21a5b12feca1fe4a19f13d/lib/utils/reviewsList.js#L30-L33
- https://github.com/facundoolano/google-play-scraper/blob/50502284a7f6d2ffbf21a5b12feca1fe4a19f13d/test/lib.re

[2020-07-08 16:11] LinqLover commented on #418
Apparently, this change was introduced via #341. @icarcal Could you maybe enlighten us? :-)

[2020-07-08 16:26] LinqLover commented on #418
Looking at the [documentation](https://developers.google.com/android-publisher/api-ref/reviews#resource-representations:~:text=In%20some%20cases%20users%20have%20been%20able%20to%20write%20a%20review%20with%20separate%20title%20and%20body;%20in%20those%20cases%20the%20title%20and%20body%20are%20concatenated%20and%20separated%20by%20a%20tab%20character.), I assume this is a feature for backward com

[2020-07-16 10:48] tonybricheff opened #420 "search Cannot read property '4' of null"
* Operating System: MacOS 10.15.6
* Node version: v12.16.1
* google-play-scraper version: 7.1.3

### Description:
When I am trying to search with full details the app throws TypeError: Cannot read property '4' of null

### Example code:
 gplay.search({
            term: "game",
            num: 250,
            fullDetail: true
        }).then(console.log, console.log);

### Error message:
TypeErr

[2020-07-20 17:20] bellaly20 opened #421 "how to get top new free list ?"
the project can't return top new free lists any more and appbrain still provide this information
https://www.appbrain.com/stats/google-play-rankings/top_new_free/art_design/us

so how we can get the top new free list directly from google ?

[2020-07-20 21:58] icarcal commented on #421
@bellaly20 google seems to be removed the new apps per category url, for example
https://play.google.com/store/apps/new/category/AUTO_AND_VEHICLES
or
https://play.google.com/store/apps/new/category/LIFESTYLE

I couldn't find another url where we can fetch this data.
If anyone figure the urls, I'll be glad to implement.

Going to take a better look into this.

[2020-07-20 22:06] icarcal commented on #416
@honeylucky   google seems to be removed the new apps per category url, for example
https://play.google.com/store/apps/new/category/AUTO_AND_VEHICLES
or
https://play.google.com/store/apps/new/category/LIFESTYLE

I couldn't find another url where we can fetch this data.
If anyone figure the urls, I'll be glad to implement.

Going to take a better look into this.

@prabhatCH Can you please provide a

[2020-07-20 22:09] icarcal commented on #415
@usman10scorpio Can you provide your use case?

@AdityaAnand1 you can use this number to provide a more accuratte view of installs than let's say 1Mi+ or any round number.

[2020-07-20 22:09] icarcal commented on #406
@AdityaAnand1 can you provide a code sample?

[2020-07-20 22:18] icarcal commented on #418
@LinqLover this is indeed for backward compatibility.
Google seems to be returned the title in some old comments, and we can probably add the mappings again to have `null` or the `title` in case this exist.

[2020-07-20 22:47] icarcal commented on #420
@tonybricheff thanks for reporting.

Google play added a new section in their website:
![Screen Shot 2020-07-20 at 19 38 25](https://user-images.githubusercontent.com/11530480/87993656-6ded7980-cac1-11ea-8ccf-08f5d3d6b6f1.png)

This change conflicts with some mappings (for `us` only), I'll try to figure something out for this.

[2020-07-20 22:48] icarcal commented on #387
@s-h-a-d-o-w can you provide the category used in this example?

[2020-07-20 23:33] LinqLover commented on #418
Thank you @icarcal for the feedback. It might be helpful to document this decision directly in the repository. :-)

[2020-07-21 00:05] icarcal commented on #418
I found the comment, explaining why I did this https://github.com/facundoolano/google-play-scraper/pull/337#discussion_r322223733

I had this "documented" by a comment in reviews example, but it was probably lost.
Going to add this again, thanks for pointing that out.

[2020-07-21 06:35] AdityaAnand1 commented on #406
You can try the one in the readme itself:

[code]

It doesn't return all the fields, only a small subset:

[code]

I'm guessing the detail call isn't being made at all (judging by the speed with which the method returns after returning ~50 similar apps which should take a while)

[2020-07-21 06:36] AdityaAnand1 commented on #415
Yes.. I meant what's the use case of the install count (whatever the accuracy), as in, in what kind of products are you using these? Something like Appbrain or AppAnnie?

[2020-07-21 08:04] s-h-a-d-o-w commented on #387
@icarcal I scrape all games categories. Just tried it with `GAME_ACTION` and `GAME_ADVENTURE` and both throw this error.

[2020-07-23 03:53] Giszmo opened #422 "From 165 appIds, one consistently returns no result"
Just as with !400, again I have one app that consistently returns `Error: App not found (404)`.

As with the other case where `&hl=en&gl=us` was the issue, I tried it out but all links look good in the browser.

I had changed my script to

[code]

as less apps are unavailable in Chile than in the US. Now I get the issue with the appId `com.satsapp` but https://play.google.com/store/apps/details?id

[2020-07-23 07:43] icarcal commented on #422
@Giszmo

Both urls are returning 404 to me:
![Screen Shot 2020-07-23 at 04 41 05](https://user-images.githubusercontent.com/11530480/88262641-f70dd780-cc9e-11ea-9460-f0efcfc009ef.png)

![Screen Shot 2020-07-23 at 04 40 59](https://user-images.githubusercontent.com/11530480/88262647-fa08c800-cc9e-11ea-9411-b959448c3f11.png)

[2020-07-23 15:51] Giszmo commented on #422
Ok, I see ... `wget $url` gives me a 404 for both urls, too but in the browser both work:

en_CL:

![Screenshot from 2020-07-23 11-49-30](https://user-images.githubusercontent.com/96378/88308105-a6b46b00-ccda-11ea-9d60-4067b2e64c6a.png)

en_US:

![Screenshot from 2020-07-23 11-49-47](https://user-images.githubusercontent.com/96378/88308125-a9af5b80-ccda-11ea-8dcd-a9264db301b1.png)

[2020-07-23 16:21] bellaly20 commented on #421
i contact appbrain to ask them about the source from where they get the top new free like this one:
I contact appbrain to ask them about the source from which they get the op new free :
and This was their response 👍

[2020-07-31 18:38] icarcal commented on #422
@Giszmo, Do you have this app in your account?
This app is no longer available at the store

[2020-07-31 19:52] icarcal commented on #420
@tonybricheff #412 was merged today, be sure to update the module to the version 8+

[2020-07-31 19:53] icarcal commented on #387
@s-h-a-d-o-w #412 was merged today, be sure to update the module to the version 8+

[2020-08-01 06:01] Giszmo commented on #422
OMG! You are right! Google lets you install apps that were de-published forever and that's how it was still available in the browser but not in a private window! Thanks for figuring it out!

[2020-08-01 06:01] #422 closed

[2020-08-03 12:12] cgwyllie commented on #387
@icarcal glad to see this is this understood & patched, thanks to everyone who's put in time here. Are there any release notes / changelog for the major version change (if it is indeed semver 'breaking')? Thanks!

[2020-08-05 19:11] s-h-a-d-o-w commented on #387
@icarcal Sweet, now my site gets updates again! I'm glad I didn't put a way for people to get in touch with me on there. ;)

Anyway - great work, thanks a lot!

[2020-08-09 18:03] KaKi87 opened #425 "Permission description ?"
Hello,

Where can we find permissions description since #340 ?

Thanks

[2020-08-23 09:12] AClines opened #427 "I have some errors, but I don't know how to solve it"
my test.js

var gplay = require('google-play-scraper');
gplay.app({appId: 'com.google.android.apps.translate'})
  .then(console.log, console.log);

And i get some errors

Error: Error requesting Google Play:connect ETIMEDOUT 216.58.200.46:443
    at E:\GooglePlayData\google-play-scraper\node_modules\google-play-scraper\lib\utils\request.js:44:19    at processTicksAndRejections (internal/process/ta

[2020-08-26 01:51] lau1944 opened #428 "Unexpected Token"
.. in JSON at position 143

[2020-08-26 02:50] berrybar opened #429 "Unexpected token , in JSON at position 138"
* Operating System: windows 10
* Node version: v10.16.0
* google-play-scraper version: 7.1.1, 7.1.2

### Description:
Ranking collection is not possible with the same error as the title.

How can i solve this problem???

### Error message:

SyntaxError: Unexpected token , in JSON at position 138
    at JSON.parse (<anonymous>)
    at matches.reduce (node_modules\google-play-scraper\lib\utils\scrip

[2020-08-26 03:46] TheArmKing commented on #428
### A Full Error Log (when trying to run .app):
[code]

[2020-08-26 04:33] icarcal commented on #428
@lau1944 and @TheArmKing  can you guys provide a code sample?

[2020-08-26 04:33] icarcal commented on #429
@berrybar can you provide a code sample?

[2020-08-26 04:39] berrybar commented on #429
var G = require('./node_modules/google-play-scraper/index.js');
var pool = require('./lib/db.js');
var fs = require('fs');
const retry = require('async-retry')

async function rankGetStart(){
    function savetoDB(pool, tempArray){
        pool.getConnection(function(err, con) {
            if (err) throw err;
            var sql = "INSERT IGNORE INTO google_rank (title, appId, url, icon, develope

[2020-08-26 04:48] icarcal commented on #429
Google changed the way that the data is returned to the store.
Working on a fix.

Apparently the mappings have changed too

[2020-08-26 04:48] icarcal commented on #428
Google changed the way that the data is returned to the store.
Working on a fix.

Apparently the mappings have changed too

[2020-08-26 04:50] berrybar commented on #429
Thanks for your answer.
We are waiting for a solution. :)

[2020-08-26 04:54] erishig commented on #429
Hi guys,

I encountered this problem too and have looked at the changed data.

I have made following 2 changes to the scriptData.js:

1)   ```
  // const valueRegex = /data:([\s\S]*?)}\);<\//;
  // changed on 26th Aug
  const valueRegex = /data:([\s\S]*?), sideChannel: {}}\);<\//;
[code]
      try {
        const key = keyMatch[1];
        const value = JSON.parse(valueMatch[1]);

        return R

[2020-08-26 04:55] erishig commented on #428
see my comment in #429 for a quick fix.

[2020-08-26 05:01] berrybar commented on #429
@erishig  You are a genius!

[2020-08-26 05:05] #429 closed

[2020-08-26 05:07] icarcal commented on #429
#430 is now up for review

[2020-08-26 05:07] icarcal commented on #428
#430 is now up for review

[2020-08-26 11:50] Wremeker commented on #428
Same problem :)

[2020-08-26 11:56] nan1211 opened #431 "SyntaxError: Unexpected token , in JSON at position 6772"
* Operating System:ubuntu18
* Node version:12.18.1
* google-play-scraper version:8.0.1

### Description:
yntaxError: Unexpected token , in JSON at position 6772
    at JSON.parse (<anonymous>)
    at /google_play/node/node_modules/google-play-scraper/lib/utils/scriptData.js:78:26
    at Array.reduce (<anonymous>)
    at parse (/google_play/node/node_modules/google-play-scraper/lib/utils/scriptData

[2020-08-26 12:07] lau1944 commented on #428
Hope the package would update soon, I use this rest API wrapper not the package itself, so it's really tricky to edit the package file.

[2020-08-26 12:10] yashwant-BST commented on #428
Hi, I am facing same problem. Hope that package would update soon.

[2020-08-26 12:23] #431 closed

[2020-08-26 12:23] facundoolano commented on #431
duplicated

[2020-08-26 12:38] oleksandrz-tt commented on #428
Looks like issue is fixed in 8.0.2
thanks guys

[2020-08-26 13:07] yashwant-BST commented on #428
But, the build 8.0.2 is failed.

[2020-08-26 13:42] igorfltv opened #432 "UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token"
* Operating System: Windows
* Node version: 14.3.0
* google-play-scraper version: 6.2.3

### Description:
**Hitting /app** method

Result in console:
Getting (node:20268) UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token , in JSON at position 6680
node_modules\google-play-scraper\lib\utils\scriptData.js:42:18

Log says issue comes with JSON.parse function.
### Example code:
[code]

#

[2020-08-26 13:45] facundoolano commented on #428
fixed by #430

[2020-08-26 13:45] #428 closed

[2020-08-26 13:45] facundoolano commented on #432
duplicated #428

[2020-08-26 13:45] #432 closed

[2020-08-26 13:46] #427 closed

[2020-08-26 14:11] lau1944 commented on #428
Update dependency to 8.0.2, it works

[2020-08-27 02:51] nan1211 commented on #431
ok.thanks

[2020-08-28 15:12] JoniChen opened #433 "Getting Unexpected token error"
OSX Catalina 10.15.5
NPM 6.14.5
play scraper 8.0.1

Nothing changed in my project but all of the sudden im getting error when trying to get app info .
Asking for permission list works

SyntaxError: Unexpected token , in JSON at position 6038
    at JSON.parse (<anonymous>)
    at matches.reduce (/Users/admin1/WebstormProjects/untitled1/node_modules/google-play-scraper/lib/utils/scriptData.js:78:26

[2020-08-28 15:13] facundoolano commented on #433
update the package version

[2020-08-28 15:13] #433 closed

[2020-08-31 07:56] alrl2 opened #435 "Cannot read property 'replace' of undefined"
* Operating System: MacOS 10.14.3
* Node version: 12.14.1
* google-play-scraper version: v8.0.2

### Description:
Hello! On August 26, we discovered a problem with the scraper.
Perhaps, the structure of the google play store has changed.

### Example code:
[code]

### Error message:

[code]

[2020-08-31 10:13] Bukse commented on #435
**WARNING BAD WAY :D THIS ISN'T BEST SOLUTION**

Hi. Same problem, but with reviews module. Also I have no time to wait for a fix, so I used a temporary solution:

1. Go to path _node_modules/google-play-scraper/lib/requesters/reviewsMappedRequests.js_
2. Next step find:
[code]

3. Wrap it to try/catch:
[code]

Maybe you can fix it with my example.
In my case it's happened because there are no rev

[2020-09-01 15:33] rchatterjee opened #436 "JSON parsing failing for search"
* Operating System: Linux
* Node version: v8.10.0
* google-play-scraper version: 0.16.3

[code]

### Description:
The `search` is failing, possibly due to some changes on Google's end. ( I might get back to fix it, but if anyone has time before that.)

### Example code:
[code]

### Error message:

[code]

[2020-09-01 16:00] facundoolano commented on #436
Your scraper version is old.

[2020-09-01 16:00] #436 closed

[2020-09-01 17:32] rchatterjee commented on #436
Oops, sorry. Thanks for the quick response.

[2020-09-10 13:40] marxsk commented on #435
@Bukse
I have added one more check before checking the length of reviews
[code]

[2020-09-10 15:35] miki3475 opened #438 "Not found similar link at some Korean App - region specific issue with "similar" feature"
* Operating System: Windows 10
* Node version: Node.js 12.18.3
* google-play-scraper version: google-play-scraper@7.1.3 + fix with new scriptData.js file

### Description:
For some reason when scraping similar apps to some Korean app I get error "not found similar link", however when I change id to some English app or any other "similar" to English it works great.

### Example code:
[code]

### Er

[2020-09-11 08:54] miki3475 commented on #438
That was my mistake. The script works great, I just missed the fact some of the apps **don't have any similar** recommendation, therefore it returns error as it supposed.

[2020-09-11 08:54] #438 closed

[2020-09-13 17:26] dluccajosetw opened #439 "Unexpected token , in JSON at position 6038"
I am getting this error when I extract the information from an app: Unexpected token , in JSON at position 6038

[2020-09-13 19:22] dluccajosetw commented on #439
Found that it was already fixed. Close issue

[2020-09-13 19:22] #439 closed

[2020-09-23 14:00] THAVASIGTI opened #440 "not working top new apps"
* Operating System:
* Node version:
* google-play-scraper version:

### Description:
Describe your issue here

### Example code:
[code]

### Error message:

[code]

[2020-09-23 14:11] #440 closed

[2020-09-23 15:51] icarcal commented on #440
Check this https://github.com/facundoolano/google-play-scraper/issues/421#issuecomment-661358137

[2020-09-27 21:48] KaKi87 opened #441 "offersIAP is false instead of true"
* Operating System: Linux-based
* Node version: 12
* google-play-scraper version: `*`

### Description:
On some apps, scraper says they don't contain IAP while they do.

### Example code:
[code]

### Error message:

None

PS : in case you're wondering, I'm not writing this kind of code in production, but that's the minimal reproductible example that works in Node console. 😉

[2020-10-01 06:17] ayukidawe opened #442 "Full Review not captured"
* Operating System: All
* Node version:6.14.4
* google-play-scraper version:8.0.2

### Description:
When getting all Reviews , some of the longer reviews are returned with " ... Full Review"
This means that the scraper was not able to expand the "Full Review" link and get the full text of the review

Ex:
"Very Good App..I apriceate ...You are providing best solution to our businessmans ..It will.s

[2020-10-27 11:39] Eightyplus opened #443 "Sorting does not seem to work with NEWEST"
* Operating System: OSX 10.15.7
* Node version: v12.7.0
* google-play-scraper version: 8.0.2

### Description:
I'm trying to get the newest google play reviews. However, this does not seem to work.

### Example code:
[code]

I know we have newer reviews. But it seem to highlight some reviews in August.

![Screenshot 2020-10-27 at 12 34 00](https://user-images.githubusercontent.com/15194982/9729662

[2020-10-29 10:21] KaKi87 commented on #435
- _at `extractFields` @ [google-play-scraper/lib/utils/scriptData.js](https://unpkg.com/google-play-scraper/lib/utils/scriptData.js):​40:14_
- _at `Object.f2 [as map]` @ [ramda/dist/ramda.js](https://unpkg.com/ramda/dist/ramda.js):​473:22_
- _at `null.<anonymous>` @ [ramda/dist/ramda.js](https://unpkg.com/ramda/dist/ramda.js):​586:23_
- _at `map` @ [ramda/dist/ramda.js](https://unpkg.com/ramda/dis

[2020-10-29 14:32] icarcal commented on #443
@Eightyplus the newest reviews at gplay **en** language is the same that you are receiving as return
https://play.google.com/store/apps/details?id=com.strimmobile&hl=en&gl=US&showAllReviews=true

This newer reviews that you have (probably at your console) are for the what language?

[2020-10-29 14:33] icarcal commented on #442
@ayukidawe can you give us a code example?

[2020-10-29 14:50] Eightyplus commented on #443
@icarcal - ah, I added `lang: "no"` and now I get the newest reviews. But still sorted like Google would present 'em.

Ah, but still much better than using default language. Thanks!

[2020-10-29 14:50] #443 closed

[2020-11-05 08:27] Isaamarod commented on #329
I found the solution here:

https://medium.com/@srijansrinetra/scrapping-amazon-with-nodejs-using-cheerio-and-request-part-1-4f7f4bdd4307

This happens when so many requests are send at a time. Then you have to copy this code BEFORE the scrapping function.

[code]

[2020-11-08 18:52] KaKi87 opened #444 "[Feature request] Worldwide search"
As the documentation says, the `search` method uses `us` as default value for the `country` parameter.
Would it be possible to remove the filter and search all apps even if they're not available in some countries ?
Thanks.

[2020-11-08 19:16] facundoolano commented on #444
That parameter is not a filter, rather it tells google what country the request is coming from. In the browser, if you omit the parameter it's the same to use whatever your local country is. You always make the request from some country, the default us just guarantees that the code works the same for everyone.

[2020-11-08 19:16] #444 closed

[2020-11-09 10:27] Dakshesh10 opened #445 "Get top free or paid for a specific date?"
Can I get charts for a specific category for a specific date? I can see all the sub categories and everything but not sure which day is the data getting fetched belongs to. Can I get top charts from say 6 months ago? Can anyone point me to a scrapper that can do that?

[2020-11-09 12:39] facundoolano commented on #445
The scraper makes live requests to Google play, so you get whatever data is currently in the page and, no, there's no way to query for old data.

[2020-11-09 12:40] #445 closed

[2020-11-09 16:11] K0media opened #446 "[FR] Add cloud save filter for searching"
Cloud saving is an important feature for certain apps and games.

I'd like you to check the possibility on adding this filter as an option to the search engine.

Here's a screenshot of what I'm talking about:

![image](https://user-images.githubusercontent.com/22375465/98566159-34699580-228d-11eb-926e-49ec2bc8c095.png)

If further help is needed, I'll be glad to help.

PS: Currently it is possible

[2020-11-30 16:45] danwhit123 opened #447 "Search list of ID's"
* Operating System:
* Node version:
* google-play-scraper version:

### Description:
Is there a way to take a list of Play Store ID's and loop through them in the list? and instead of selecting all of the output. Only take the output you want etc Title, Description, Developer?

[2020-12-01 03:14] juantellobop opened #448 "Scraping only showing 200 apps max?"
ENG: I'm looking for a scraping on FINANCE category on Google Play Store, but it only shows me 200 items.

My code is:
`var gplay = require('google-play-scraper');

gplay.list({
    category: gplay.category.FINANCE,
    lang: 'es',
    country: 'ar',
    num: '900',
    collection: gplay.collection.TOP_FREE,
  })
.then(res => {
    console.log('total ' + res.length + ' items')
    for (let i = 0;

[2020-12-17 07:53] praveens96 opened #449 "Error requesting Google Play:unable to get local issuer certificate"
* Operating System: docker
* Node version: 10.15.0
* google-play-scraper version: 6.2.3

### Description:
Describe your issue here
getting below message in production aws containers:

[code]
### Example code:
[code]

### Error message:

[code]

[2020-12-18 02:16] icarcal commented on #448
This is a limit of google play, you can check a little bit more of the discussion, [here](https://github.com/facundoolano/google-play-scraper/issues/333#issuecomment-529290209)

[2020-12-18 13:35] #448 closed

[2020-12-24 07:54] KaKi87 commented on #407
Hello,
I'm using v8.0.2 and I'm experiencing this issue today : https://git.kaki87.net/KaKi87/KPlaySearch/issues/10#issuecomment-374
Thanks

[2020-12-27 10:27] port119 opened #450 "gplay.list will only give 200 results"
### Description:
gplay.list will only give 200 results - on a android phone this gives approx 600+

### Example code:
[code]

[2021-01-03 12:33] dasheck0 commented on #435
Is this still open? Ran into the same issue this morning.

[2021-01-08 10:49] danpostmail92 opened #451 "Possible to extend max on gplay.search num 250?"
Hi There,

Is it possible to extend the max number of retrieves on search.list num? MAX is 250. Hoping to extend it if possible?

Thanks

[2021-01-08 10:57] danpostmail92 opened #452 "Combine gplay.list and gplay.search?"
Hi There,

Is is possible to use the gplay.list and gplay.search together as way to search for terms in a specific category and retrieve full detail on apps? i.e.

var gplay = require('google-play-scraper');
var util  = require('util');

gplay.list({
    category: gplay.category.COMMUNICATION,
  })

util.inspect.defaultOptions.maxArrayLength = null;

gplay.search({
    term: "Video Call",
    full

[2021-01-08 14:22] icarcal commented on #451
This is a limit of google play, you can check a little bit more of the discussion, [here](https://github.com/facundoolano/google-play-scraper/issues/333#issuecomment-529290209)

[2021-01-08 14:33] icarcal commented on #452
What `list` does is basically fetch every app for a given category/collection, like this [link](https://play.google.com/store/apps/collection/cluster?clp=0g4mCiQKHnRvcHNlbGxpbmdfZnJlZV9BUlRfQU5EX0RFU0lHThAHGAM%3D:S:ANO1ljKKwsU&gsr=CinSDiYKJAoedG9wc2VsbGluZ19mcmVlX0FSVF9BTkRfREVTSUdOEAcYAw%3D%3D:S:ANO1ljK_3F0), for example.

About search, it literally searches for a term at gplay.

Maybe what you c

[2021-01-09 00:26] danpostmail92 commented on #452
Thanks Icarcal for your prompt reply. For my very limited amount of scripting knowledge, by 'filter the results per genreId of the app' do you mean that I could add the genreID to my gplay.search command and the output would only be results showing 'Video Call' where the generid = category?

Can I specify the genreID: or a filter parameter within gplay.search? i.e.

gplay.search({
term: "Video Cal

[2021-01-12 01:10] icarcal commented on #452
This should do what you want:

[code]

Be aware that one request will be made for every app to get the full detail (for example, we need 4 request to get the 250 apps, and 250 requests to get the full detail for each, so this code will execute 254 calls to gplay).

You can only specify one term per `.search` call

[2021-01-14 10:17] teyang-lau commented on #450
Just wondering if there is any way to use tokens between different queries to continue from where we ended during the last query?

[2021-01-18 10:24] mnikitas commented on #404
Any news to this request. It is **important** to have the option to remove hl and gl from request url in order to be able to find apps only available to a specific country without requiring from user to specify a country.

This is a very easy fix in code as we've seen.

Can you please arrange this change ?

Regards,
Mike

[2021-01-18 16:14] facundoolano commented on #404
I'd be ok with such an option, such as passing explicitly country: undefined / lang: undefined in the options.

I don't have time planned for making changes to the library, but I can review and merge if someone sends the PR.

[2021-01-20 00:13] norelyaqine opened #453 "fullDetail take a long time"
`fullDetail: true` take a long time to get the results, how can I limit the attributes returned

[2021-01-20 00:29] facundoolano commented on #453
There's not an option to limit the attributes, since the entire page needs to be downloaded before the attributes can be extracted. You're optimization options to use fullDetail: false (the default) or query for a smaller amount of results.

[2021-01-20 00:29] #453 closed

[2021-01-24 16:57] DATL4G opened #454 "Unable to use in Angular Project"
* Operating System: Pop!_OS 20.10
* Node version: 12.19.0
* Angular: 11.1.0
* Angular CLI: 11.1.1
* Ivy-Workspace: Yes
* google-play-scraper version: 8.0.2
* IDE: WebStrom 2020.3.1

### Description:
I use Angular and tried using this library. (Typescript)
Before adding this lib: **works fine**
After adding this lib: **works fine**
After importing this lib: **works fine**
After using this lib: **co

[2021-01-24 17:45] adibacco opened #455 "Unexpected token in JSON with suggested example code"
* Operating System: Win10
* Node version: v12.13.1
* google-play-scraper version: 8.0.2

### Description:
Describe your issue here

I get an exception with the example suggested on NPM page.

### Example code:
[code]

### Error message:

[code]

[2021-01-31 18:01] adtimizer commented on #397
Hi
My Company provide such lists if you are interested.
Feel free to contact me at oren@adtimizer.co

[2021-02-10 14:54] thimontenegro opened #456 "Application in different countries with equal language returning the same reviews"
Same application, with the equal language, in different countries, for example, Argentina and Colombia, have the same reviews? Because I'm getting the same result from reviews in different countries.

[2021-02-12 21:50] bfelbo commented on #406
This is still an issue. It's also clear from the code itself. E.g. `search()` has the following code, whereas `similar()` doesn't use `opts.fullDetail` at all.
[code]

[2021-02-16 05:09] icarcal commented on #446
I looked at the google play page for this [game](https://play.google.com/store/apps/details?id=com.halfbrick.dantheman&hl=pt_BR&gl=US) and found all the info that you mentioned.

We can get all the features like this:
[code]

I'll send a PR with these fields by tomorrow.

[2021-02-16 05:18] icarcal commented on #455
@adibacco I just tried here with version 8.0.2 and the return was ok for me.

Can you check if you are using the 8.0.2 version of the lib?

[2021-02-16 06:17] Parth2404 commented on #314
Hi there,

This issue seems to have popup again.

**Description**
When trying to get score for particular keyword it just crashes.

**Code**
<code>
const gplay = require('aso')('gplay');

// do stuff with google play
gplay.scores('panda').then(console.log);
</code>

**Error**
<code>TypeError: Cannot read property 'map' of undefined
    at /home/hardik/Desktop/test/ASO project/node_modules/ramda/di

[2021-02-17 00:30] icarcal commented on #446
@K0media #457 is now up for review

[2021-02-17 00:38] icarcal commented on #406
@bfelbo @AdityaAnand1 #458 is now up for review

[2021-02-23 02:42] protometa opened #459 "eslint should be in devDependencies"

[2021-02-23 09:12] adibacco commented on #455
Sorry, don't know why but I was using an old version (7.1.3)

[2021-02-23 09:12] #455 closed

[2021-02-23 13:44] facundoolano commented on #459
Feel free to send a PR.

[2021-03-04 07:38] Winnie4is commented on #454
I cannot use this,too. Do you have any other methods to get the info from Google Play in Angular project?

[2021-03-04 17:29] DATL4G commented on #454
I used the [REST api version](https://github.com/facundoolano/google-play-api) of this project and created a node server which I call using an HttpRequest in Angular

[2021-03-05 05:24] Winnie4is commented on #312
hello,did you mean that the code you changed work out? What is GooglePlayAppInfo?Could you give more details about your code ?Thank you ~

[2021-03-08 21:55] pedropapa commented on #312
It's just an Typescript interface, sorry, I forgot to include that in my answer:

[code]

[2021-03-29 17:17] andreasbal opened #463 "Unable to retrieve the reviews"
* Operating System: mac

### Description:
I am trying to run a js script on the terminal to retrieve google play store app reviews.

### Example code:
I use a simple script.

### Error message:
I receive the following error : at processTicksAndRejections (internal/process/task_queues.js:97:5) { status: 400 }

Can you please help me out? Thank you.

[2021-03-29 20:00] icarcal commented on #463
@andreasbal can you check the version of the lib that you are using and give us a little example of the code?

[2021-03-29 20:46] andreasbal commented on #463
I am not sure which version I am using.

`const readline = require('readline')
const fs = require('fs');
var gplay = require('google-play-scraper');

gplay.reviews({
  appId: 'bot.touchkin&hl=en&gl=US',
  sort: gplay.sort.RATING,
  paginate: true,
  nextPaginationToken: null

}).then(console.log, console.log);`

[2021-03-29 21:49] icarcal commented on #463
For the appId parameter, you should use only the app id.
Include country and lang (`gl` and `hl`) as parameters.

Try this:
[code]

[2021-03-29 22:26] andreasbal commented on #463
Thank you very much! It is solved now! Is it any way to sort the ratings? It downloads only the reviews with 5 stars due to the large number of reviews available. I would like to download reviews from different ratings. Thank you!

[2021-03-30 03:24] icarcal commented on #463
You can use the `paginate` parameter set to `true` to receive all the reviews (this may take a while).
Other than that if you still want to use the pagination, be sure to send the `nextPaginationToken` set from the previous request.

If you want, you can also change the sorting by using one of the following: `sort.NEWEST`, `sort.RATING` or `sort.HELPFULNESS`

Be sure to check the [docs](https://gi

[2021-03-30 08:23] andreasbal commented on #463
Thank you very much!

[2021-03-30 08:23] #463 closed

[2021-04-01 08:38] andrui commented on #454
Same problem:
[code]

[2021-04-01 08:39] andrui commented on #454
Looks like that issue is caused by nodejs dependencies.

[2021-04-23 02:27] Giszmo commented on #399
This should be closed as a duplicate of #397

[2021-04-24 01:32] Giszmo opened #464 "Randomly wrong ratings and reviews on some apps"
* Operating System: Ubuntu 20.10
* Node version: 11.14.0
* google-play-scraper version: 8.0.2

### Description:

I track apps and just now noticed that of the 400 I sync once per day, 16 have bogus results. While 14 returned basically "no ratings or reviews", 2 returned straight wrong numbers:

* com.blocktrail.mywallet 3.3 stars, 7 ratings, 5 reviews
* com.bybit.app 4.8 stars, 13 ratings, 8 revie

[2021-04-24 02:23] Giszmo commented on #464
I just ran my script again and had 16/400 that got "nulled" but none that looked like doing the other thing with just random numbers being off.

[2021-04-26 00:57] Giszmo commented on #464
The issue is rampant but on the other hand it might just be Google having issues. Looking at https://play.google.com/store/apps/details?id=org.electrum.electrum&showAllReviews=true I see a perfect 5.0star rating but almost no reviews that gave a 5star rating.

[2021-05-03 06:28] rohitnikhade commented on #399
### hey

[2021-05-11 07:50] ekta1007 opened #467 "Reviews from playstore seem to repeat after 6333 records"
## issue

* Operating System: MCOS , Big Sur 11.2.3
* Node version: v16.0.0
* google-play-scraper version: 0.1.1
*
I have different continuation_token  Objects for getting the reviews recursively from the Adnroid playstore, but the entries seem to repeat after 6333 records.  **I also did the same for other Android apps to see if the patter was consistent, and the  same review repeating after 6333

[2021-05-11 08:36] #467 closed

[2021-05-18 15:27] chickito opened #468 "App details get 404"
* Operating System: Ubuntu 20.04
* Node version: 13
* google-play-scraper version: latest (2.6.3)

### Description:
Some applications detail get a 404 :  I tested "fr.pmu.poker", "fr.pmu.sports", "com.winamax.winajs", "fr.unibet.sport", "sport.android.betclic.fr", "fr.fdj.enligne", "fr.zebet.zebet", "com.pyrsoftware.pokerstars.fr"
=> all apps with poker or bet services and PEGI-18
=> but dating se

[2021-05-18 16:17] facundoolano commented on #468
Can you try passing the `country` parameter explicitly? Some apps are not available in all countries, and by default this package assumes the 'us' country code.

[2021-05-24 17:54] xeinebiu opened #469 "Replace Request with Axios"
As far as I can see, Request.js is not supported pretty well these times.

Basically, your work is awesome regarding the library, but when it comes to Proxy is not possible to use since Request.js is buggy there.

https://github.com/request/request/issues?q=Tunneling+socket+error

[2021-05-28 09:41] maicf opened #470 "review list empty when solving promise"
**Description:**

When calling the 'reviews' method (regardless of its options), I'm able to console log the result of the promise correctly.
However, when trying to capture this data and pass it as a parameter to a function, the list of reviews seems to be empty (there is no error, since the promise gets resolved successfully).
I used the scraper last year and this was working perfectly for me.
N

[2021-06-06 17:39] GRV22 opened #471 "Issue: Getting NextPaginationToken as null for reviews api"
### Description:
Looking for reviews api to return paginated result.
I am trying to get all reviews by providing batch size.

####Why am I trying batch size & pagination?
It will give me more controls. Suppose for an app, there is 1 lakh reviews then it will be not possible in one call. Other use , if I want only 1500 out of 1 lakh reviews.

### Example code:
[code]

### Error message / Issue:

I

[2021-06-12 02:47] Giszmo commented on #464
I hacked my way around the issue by detecting when things are off, to re-request those 5% that are off. Rarely do I have to run 3 rounds.

[2021-07-03 11:12] yashschandra commented on #450
@port119 did you fund any solution for this? I am facing same issue

[2021-07-03 11:28] port119 commented on #450
No sorry

On Sat, 3 Jul 2021 at 13:12, Yash Suresh Chandra ***@***.***>
wrote:

[2021-07-10 08:21] Rapid1898-code opened #473 "num-parameters / default and limit?"
Hello - is the num-parameters still working?
according to the documentation the num is default 500 - but when i see it right i only get 200 apis when reading eg. collection and category - also when i directly set the num-value to 500

Am i doing something wrong or is the documentation wrong and the default / maximum value for this is 200 instead?

[code]

[2021-07-13 08:35] LuckyFQ commented on #406
This's still an issue. fullDetail: true has no effect. It only return up to 50 similar apps

[2021-08-07 08:57] pixiboom opened #475 "Please add apk downloading feature"
* Operating System:
* Node version:
* google-play-scraper version:

### Description:
I have seen some website scraping download links directly from the play store, if it's possible please add this feature to the project.
Thanks
### Example code:
[code]

### Error message:

[code]

[2021-08-07 14:27] MFrat opened #476 "Cannot read property 'length' of undefined"
* Operating System: MacOS Catalina
* Node version: v14.15.3
* google-play-scraper version: 8.0.2

### Description:
When i try to read app's reviews, the _Cannot read property 'length' of undefined_ is raised.

### Example code:
[code]

### Error message:

[code]

[2021-08-12 08:31] icarcal commented on #476
@MFrat I'm unable to replicate this error.

If I run
[code]

I receive this response:
`{ data: [], nextPaginationToken: null }`

Can you double-check the scraper version?

[2021-09-17 03:18] erishig opened #480 "TypeError: Cannot read property 'replace' of undefined [ds mapping changed]"
Hello,

Have been getting following error since today:

**(node:33187) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'replace' of undefined**
    at Object.descriptionText [as fun] (../node_modules/google-play-scraper/lib/mappers/details.js:104:51)
    at ../node_modules/google-play-scraper/lib/utils/scriptData.js:52:19

Upon investigating found that the "ds" mapping in details

[2021-09-17 06:24] weikangchia commented on #480
Hi @erishig , I am also facing the same issue. I have tried your fix locally and it works. Hope we could get this fix in soon 😀 Thanks!

[2021-09-17 07:02] ysb opened #481 "Availability in country"
Hi;

Some apps are available only in some countries. But when we try to get details for an unavailable country, it returns a valid result. So it's impossible to determine it's available or unavailable in specific country.

Is there any workaround about that? I found some mapping for this, will send a PR.

Thanks.

[2021-09-17 07:03] sandipsk-git commented on #480
Hi @erishig  I am also facing same issue .

[2021-09-17 08:30] ysb commented on #481
Just submitted a PR #482

[2021-09-17 10:36] facundoolano commented on #480
patch published, let me know if the issue is fixed now.

[2021-09-17 10:36] #476 closed

[2021-09-17 10:37] #435 closed

[2021-09-17 10:38] #420 closed

[2021-09-17 10:41] #378 closed

[2021-09-17 10:43] facundoolano commented on #481
merged and published, thanks!

[2021-09-17 10:43] #481 closed

[2021-09-17 10:44] facundoolano commented on #475
This wasn't easy years ago when I considered it, I doubt it has changed. Either way it's not planned.

[2021-09-17 10:44] #475 closed

[2021-09-17 10:44] #468 closed

[2021-09-17 10:45] #464 closed

[2021-09-17 10:45] #459 closed

[2021-09-17 10:45] #454 closed

[2021-09-17 10:46] #446 closed

[2021-09-17 10:47] #399 closed

[2021-09-17 10:47] #397 closed

[2021-09-17 10:48] #329 closed

[2021-09-17 11:45] Keskinev87 commented on #480
Fixed it for me. Thank you very much!

[2021-09-17 12:27] #480 closed

[2021-09-17 12:49] tomzweb opened #483 "Similar - Error: not found similar link"
Hello,

Have been getting following error since today:

Error: not found similar link
    at ./node_modules/google-play-scraper/lib/similar.js:37:17
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

It was working yesterday and not today. I also had to resolve this issue too: https://github.com/facundoolano/google-play-scraper/issues/480

Any ideas?

[2021-09-18 18:22] ysb commented on #483
Just update to 8.0.3

[2021-09-18 23:19] VitaliyRDev commented on #483
@ysb

Seems like similar still isn't working, even after update.

[2021-09-19 14:49] fti commented on #483
It doesn't work although update.

[2021-09-19 15:33] ysb commented on #483
I understand the problem, I will send a PR about this.

[2021-09-23 12:06] ayubn opened #485 "how to use this script from php"
hi,

wonderful effort, i wana use this script into php..... actully i want to call this script from php and get also get results on php tooo..... isss this possible ?????????

[2021-09-23 14:04] #470 closed

[2021-09-24 06:30] billsix123 commented on #485
use google-play-api

[2021-09-24 14:46] lau1944 commented on #483
Does v8.0.3 work? It did not work for me.

[2021-09-24 14:57] ysb commented on #483
Nope, we're waiting a new release.
cc: @facundoolano

[2021-09-24 14:58] ysb commented on #485
this is an node.js module and you're asking how to use this with php?

[2021-09-24 15:02] #485 closed

[2021-09-24 15:19] facundoolano commented on #483
published

[2021-09-28 06:28] Chellhooo opened #486 ""Cannot read property 'replace' of undefined""
* Operating System: mac os
* Node version: v14.4.0
* google-play-scraper version: 8.0.2

### Description:
I try the example from docs, but got error `Cannot read property 'replace' of undefined`.
It seem be fixed before, but sadly it occurs again. I have updated to the latest version, it still doesn't work.
hope for help :(

### Example code:
[code]

### Error message:

[code]

[2021-09-28 08:21] Chellhooo commented on #486
8.0.4 works, sorry for missing information

[2021-09-28 08:21] #486 closed

[2021-10-05 15:05] ayubn opened #487 "how to paginate gplay.list or gplay.search ?"
hi,

nice work, but can we do the same paginate option or something like that to get more results after the maximum limit of app **by category or through search...**

[2021-10-07 03:11] cac-dean opened #488 "The collection topselling_free is invalid for the given category, top apps or new apps"
* Operating System: macOs
* Node version: v12.13.1
* google-play-scraper version: 8.0.4

### Description:
sometimes , i will get "The collection topselling_free is invalid for the given category, top apps or new apps" error, but sometimes is be fine.

### Example code:
[code]

### Error message:

[code]

[2021-10-10 13:28] MobiOptApp commented on #416
Same Problem!!

[2021-11-14 19:50] Chaepica opened #490 "search question"
Is there a way to get just a list of url or id when I search by name? For example, looking for "panda" put num 50 and get ONLY 50 url.

[2021-11-17 14:34] Giszmo commented on #464
The situation worsened recently. @facundoolano could you please look into this?!

Now the wrong results come for about 50% of the requests. With my now 1839 apps that means that I on average have to run the script 11 times, with a shorter and shorter list of apps in each round.

Throttling has no impact on the prevalence of the issue.

If I'm the only one experiencing this, what might be wrong in

[2021-11-19 20:29] Giszmo opened #491 "Returned values are wrong 95% of the time"
* Operating System: Ubuntu 21.10
* Node version: v16.11.0
* google-play-scraper version: 8.0.4

### Description:

As reported earlier in #464, I get wrong results for many of the requests and now for most of them.

### Example code:
[code]

The same experiment but with different `appId` can yield different values. For `com.google.android.apps.translate` I get for example `{ '4.3922243': 187, '4.45

[2021-11-20 20:27] Giszmo commented on #491
I am still very much in the dark about what's going on. It feels like it might not actually be the api itself but the api should probably detect this and throw an error, with instructions on how to work around it if possible.

I added a semaphore to avoid downloading too many images in parallel with the throttled api calls, so with a `Semaphore(10)` and a `throttle: 100` (which effectively finishe

[2021-11-23 04:47] 89z commented on #491
If youre interested, I have an alternative tool that works:

[code]

Its available as a package too, so you can write your own program with it.

https://github.com/89z/googleplay

[2021-11-23 04:53] 89z commented on #491
I had a previous comment offering another package, but I deleted it after reading your second comment. This seems to be a pretty clear cut case of API abuse. 20 api calls per second seems unacceptably high, even for some paid options. Im not sure why you think you can pound a free API like this and get away with it.

[2021-11-23 20:41] VitaliyRDev opened #492 "Replacing deprecated request to got"
I guess it's time to change request library, since request is deprecated from 2020...

[2021-11-23 21:08] facundoolano commented on #492
PRs welcome

[2021-11-23 21:11] VitaliyRDev commented on #492
I'll try 👌

[2021-11-24 06:17] Kayxue opened #493 "Cannot read properties of undefined"
* Operating System: Windows 10 Build 18363.1379
* Node version:17.1.0
* google-play-scraper version: 8.0.4

### Description:
Cannot read properties of undefined

### Example code (TypeScript):
[code]

### Error message:

[code]

[2021-12-02 08:31] berrybar opened #495 "can't get kr rankings."
* Operating System: windows 10
* Node version: 10.16.0
* google-play-scraper version: 8.0.4

### Description:
When I tested in the US and Japan, I was able to get the value.
But when I set it to Korea, I couldn't get the value at all.
It hasn't been since December 1st in Korea, and it seems to have found a problem.
It seems that the Korean Google Play ranking collection url is pointing to the wron

[2021-12-06 08:25] Aliaksandr-Kasko-JazzTeam opened #496 "Crash on mapping app details"
* Operating System: Windows/Linux
* Node version: 16.0.8
* google-play-scraper version: 8.0.4

### Description:
Library crashes on mapping app details

### Example code:
[code]

### Error message:

[code]

[2021-12-06 12:27] Aliaksandr-Kasko-JazzTeam commented on #496
Seems that it's applicable only for this 3 countries: kr, tw, hk

[2021-12-07 11:32] ansoncen commented on #495
What I found in the region kr, hk and tw, app detail page layout upgrade to the new version.  The lib's parse function should be updated so.

[2021-12-07 20:54] skochy commented on #496
I'm also seeing a similar error:

[code]

and

[code]

[2021-12-08 04:59] ansoncen commented on #496
the play store website has been changed to the new version in these three regions. The parser function is no longer valid for the new version of the website.

[2021-12-08 09:52] berrybar commented on #495
I agree with that opinion.

[2021-12-14 09:24] Aliaksandr-Kasko-JazzTeam commented on #496
@facundoolano ping

[2021-12-18 17:43] #492 closed

[2021-12-25 19:35] emtunc commented on #450
I've run into this too - I wonder if the script is running into a pagination issue of some sort.

[2021-12-27 02:38] druphliu commented on #495
@VitaliyRDev

[2022-01-06 01:05] VitaliyRDev opened #497 "Random mapping error."
I see that something wrong with mapping.  it's giving me that error 2 out of 3 times, it's kind of strange:

[code]

@facundoolano would be great if you check what could be wrong with that... Thanks.

[2022-01-06 01:11] 89z commented on #497
Can you please provide example code?

[2022-01-06 01:12] VitaliyRDev commented on #497
example code of what ? i'm talking about app method

[2022-01-06 01:13] 89z commented on #497
What is it that youre trying to do? What did you do to produce the error? Its hard to help if you dont describe the steps you took.

[2022-01-06 01:14] Giszmo commented on #497
Something broke and I guess Google changed the api. I see you guys are chatting ... I'm investigating my scripts broken, too, so ... example code in 5 minutes.

[2022-01-06 01:15] VitaliyRDev commented on #497
@89z

gplay.app({appId: 'se.pax.calima', lang: 'en', country: 'fr'}).then((res) => console.log(res));

for country us it's working totally fine. it seems they have changed mapping but only for particular countries.

but some other apps don't work in us country code either.

[2022-01-06 01:16] Giszmo commented on #497
[code]

Using many country codes here for thousands of apps, I'm heavily affected, too.

[2022-01-06 01:24] 89z commented on #497
The code Ive seen so far is just returning the entire object. Do you really need every single field, or are you looking for something specific?

[2022-01-06 01:34] Giszmo commented on #497
@89z are you implying the above code works for you if you filter (how?) for certain fields?

[2022-01-06 01:36] 89z commented on #497
I agree, it should be fixed, I am just saying I might have a workaround, depending on what information youre actually needing.

[2022-01-06 01:39] VitaliyRDev commented on #497
@89z would you mind to create temporary fork with all possible data ?

[2022-01-06 01:43] 89z commented on #497
My workaround is in another language, so I dont know if it will be useful to you, double so without knowing what data you actually need.

[2022-01-06 01:49] Giszmo commented on #497
Come on, your hint is too vague. Are you talking about patching the library to skip the description? That's quite involved for a mere consumer of the api but I guess there's no other way as the repo is not exactly very active.

[2022-01-06 01:51] VitaliyRDev commented on #497
@Giszmo there's one way, update mappings. that's all

[2022-01-06 02:02] VitaliyRDev commented on #497
@Giszmo @89z @icarcal @ysb

guys, try to find the pattern of this error and what causing it and then maybe we could fix it.

[2022-01-06 02:04] Giszmo commented on #497
I'm at it. So it goes through MAPPINGS and title appears to work but description being the second entry fails and I have no idea yet how those paths work. Removing description (I don't need it) leads to crash in androidVersion which is 30 elements later, so there is hope to not have to change all of it.

[2022-01-06 02:05] 89z commented on #497
Nope:

[code]

[2022-01-06 02:08] VitaliyRDev commented on #497
yep. they updated the whole mappings.

open the application google play page source code and watch the AF_initDataCallback. I see that app method gets all data from there.

[2022-01-06 02:10] Giszmo commented on #497
So removing those lines makes the code above return a meaningful object. I'll try to fix it.

[code]

[2022-01-06 02:15] VitaliyRDev commented on #497
@Giszmo i guess if you remove all these lines you'll get just empty object. try to find right mapping at the source of google play page "view-source:https://play.google.com/store/apps/details?id=com.innovate.IndonesiaSocial&hl=es&gl=es"

also find and read the scriptData.extractor method it'll help.

[2022-01-06 02:16] VitaliyRDev commented on #497
@Giszmo do you have telegram ?

[2022-01-06 02:17] icarcal commented on #497
Hey everyone, I'll take a look at this now

[2022-01-06 02:21] Giszmo commented on #497
If others with a bit of experience in what they are doing are looking, I would step back from this task for now. @VitaliyRDev you are right, the returned object is mostly garbage. Not even the title is defined. Guess the mapping changed completely.

[2022-01-06 02:23] Giszmo commented on #497
@VitaliyRDev

I do, using the same name there. If you open a group chat, please add me.

[2022-01-06 03:57] icarcal commented on #497
Seems like google fully changed the mappings.
Working on the fix now

[2022-01-06 04:20] icarcal commented on #496
I believe the #498 PR also fixes this issue

[2022-01-06 04:41] Giszmo commented on #497
@icarcal excellent! I think this does the job for me. Didn't test with all 2000 apps but the ones causing issues before now work.

[2022-01-06 11:26] #497 closed

[2022-01-06 13:41] adrien1251 commented on #496
Hello,
Will you create a new version on npm today?

Sincerely.

[2022-01-06 14:14] gitRedgieGravador opened #499 "google play scrape error TypeError: Cannot read property 'replace' of undefined"
* Operating System: Windows
* Node version: 14.17.0
* google-play-scraper version: 8.0.4

### Example code:
[code]

### Error message:

[code]

[2022-01-06 14:36] icarcal commented on #499
Hey @gitRedgieGravador I believe this PR #498 fixes this issue and it's already merged.
Needs only publish on npm

[2022-01-06 14:59] facundoolano commented on #496
I won't be around a computer for a couple of weeks so no new npm version until then, you can just use the github commit in your package.json in the meantime

[2022-01-06 15:04] gitRedgieGravador commented on #499
@icarcal thanks.. few minutes ago I was able to see the update you've done thanks a lot I will be waiting for the npm to be published.

[2022-01-06 15:04] #499 closed

[2022-01-06 15:18] qw4n7y commented on #493
+1

[2022-01-06 15:23] icarcal commented on #493
This is also fixed by the PR #498 .
It's already merged.
Needs publish on npms

[2022-01-06 16:03] adrien1251 commented on #496
Thanks for your answer, how can we use the commit in the json package?
Cause i use it like that in my package json :
`"dependencies": {
    "google-play-scraper": "^8.0.4"
}`
Can i put a commit number instead ?
`"dependencies": {
    "google-play-scraper": "commit-number"
}`

[2022-01-06 16:10] ruimateus commented on #496
@adrien1251

"google-play-scraper": "github:facundoolano/google-play-scraper"

works for me

[2022-01-06 16:12] adrien1251 commented on #496
Thank you for your reactivity ! :D

[2022-01-06 18:59] UnknownKID69 commented on #493
same

[2022-01-07 07:27] asher-y-ma opened #500 "Cannot read properties of undefined (reading 'replace')"
TypeError: Cannot read properties of undefined (reading 'replace')
    at Object.descriptionText [as fun] (/root/asher/node_modules/google-play-scraper/lib/mappers/details.js:125:51)
    at /root/asher/node_modules/google-play-scraper/lib/utils/scriptData.js:52:19
    at XWrap.f (/root/asher/node_modules/ramda/dist/ramda.js:5955:28)
    at XWrap.@@transducer/step (/root/asher/node_modules/ramda/di

[2022-01-07 08:25] adrien1251 commented on #500
Hello, i think you need to look at this issue : https://github.com/facundoolano/google-play-scraper/issues/496
The resolution is in the end ;)

[2022-01-07 10:26] adrien1251 commented on #496
Hi guys,
It would be just to know when you plan to update the lib on the npm side because, on my side putting the config in the json package as follows
`"google-play-scraper": "github:facundoolano/google-play-scraper"`, my build takes 1h30 to be done.  It's good for a "quick" fix but not long term :s

Thanks a lot! :)

[2022-01-07 12:27] eldhosejoys commented on #496
Kindly update it on npm.

[2022-01-08 05:31] dhung1308 commented on #500
How to  update  module in heroku ? I still get this error

[2022-01-08 11:52] dhung1308 commented on #496
I getting error when using github commit :
Error: Error requesting Google Play:connect ECONNREFUSED 127.0.0.1:443

Anyone help me fix it ?

[2022-01-08 17:44] Primokorn commented on #496
I updated using **sudo npm install -g npm** then I read this thread.
I use your tool for several years and I didn't have any package.json so I downloaded the file and I edited the dependencies as suggested:

[code]
I still have the same issue. Can someone explain with more information? Thanks.
`arnaud@L340-15IRH:~/AndroidAll/Google_Play_Scraper$ node getPic.js
TypeError: Cannot read property 'repl

[2022-01-08 18:52] Primokorn commented on #496
I updated nodejs to v16.13.1 and installed this tool from scratch (I had it for a while and I had no package.json file at the root of the directory).
In which file do you write the instructions? Example:
`var gplay = require('google-play-scraper');

gplay.app({appId: 'com.google.android.apps.translate'})
  .then(console.log, console.log);`
And how to run it?
I just want to download app icons from

[2022-01-09 03:11] Giszmo commented on #497
@facundoolano when will npm get an update? I thought it would be easy to just use the project as git submodule but somehow I had issues and now have issues again and imagine others are in the same boat and it's been 3 days, ...

first my jsminify tried to minify this project and now an exception behaves differently than when using the npm package. I'll try to fix that for my project but a fast upd

[2022-01-10 07:27] jiristepan opened #501 "Method app fails on every tested application."
* Operating System: Debian under WSL
* Node version: v14.8.1
* google-play-scraper version: 8.0.4

### Description:
Method *app* fails on every tested application. Even with sample code.
Other methods (reviews etc.) are working.

### Example code:
[code]

### Error message:
[code]

[2022-01-10 07:54] 1004885516 commented on #435
How can this problem be solved？

[2022-01-10 09:52] 1004885516 commented on #435
Has this problem been solved？

[2022-01-10 10:02] 1004885516 commented on #420
await gplay.app({ appId: 'com.hitplay.tpgamesdfsd' })

ERROR 50080 nodejs.TypeError: Cannot read property 'replace' of undefined

[2022-01-10 10:56] jiristepan commented on #501
It looks like duplicate of https://github.com/facundoolano/google-play-scraper/issues/496

It can be resolved by adding module dependency from github instead from npm.

[2022-01-11 01:54] berrybar commented on #496
I ran it, but it doesn't work.
Is it impossible to bring kr rank??

[2022-01-11 02:00] berrybar commented on #496
I ran it, but it doesn't work.
Is it impossible to bring kr rank??

[2022-01-11 03:58] 13389203735 opened #502 "Cannot read property 'split' of undefined"
* Operating System:
* Node version:14.17.0
* google-play-scraper version:dev

### Description:
Describe your issue here

params --{ appId: 'com.denachina.g33002013.android', lang: 'KR', country: 'KR' }

TypeError: Cannot read property 'split' of undefined
    at Object.fun (/Users/chentongtong/Desktop/eClick/chrome/chrome-play-scrpaer/node_modules/google-play-scraper/lib/mappers/details.js:60:29)

[2022-01-11 05:08] 13389203735 commented on #496
How to deal with this problem

[2022-01-11 05:56] 13389203735 commented on #502
country为kr无法从商店拉取到有用信息

[2022-01-11 10:34] nottoobad opened #503 "Error: Error requesting Google Play:Cannot read property 'startsWith' of undefined"
* Operating System:Windows 10
* Node version:10.15.0
* google-play-scraper version:github latest

### Description:
Import 'https-proxy-agent' will cause 'google-play-scraper' throw the exception: Error: Error requesting Google Play:Cannot read property 'startsWith' of undefined

### Example code:
[code]

### Error message:

[code]

[2022-01-11 11:28] VitaliyRDev commented on #503
Check this instruction: https://github.com/sindresorhus/got/blob/main/documentation/tips.md#proxying

[2022-01-11 11:54] erishig commented on #502
Hello, the google mapping for various attributes has broken again.

I have tried to re-map and this has worked for my use case. Kindly review and make changes accordingly in lib/mappers/details.js

change all ds:3 to ds:8
change all ds:4 to ds:3
change all ds:6 to ds:5

Hope this helps. If this solves the problem, kindly update it here.

[2022-01-11 15:10] 13389203735 commented on #502
I made changes in your way, and shops in Kr countries still failed to get information.

{ id: 'com.ujoygp.panilla', lang: 'KR', country: 'KR' }

TypeError: Cannot read property 'replace' of undefined
    at Object.descriptionText [as fun] (/Users/chentongtong/Desktop/eClick/chrome/chrome-play-scrpaer/node_modules/google-play-scraper/lib/mappers/details.js:125:51)
    at /Users/chentongtong/Desktop

[2022-01-11 15:18] 13389203735 commented on #495
I also encountered this problem. How did you solve it? Please tell me

[2022-01-11 15:19] 13389203735 commented on #495
我也出现了这个问题，你是怎么解决的，麻烦告知一下

[2022-01-11 15:26] 13389203735 commented on #495
I use the dev branch code locally, but I found that the app store can't get information in Kr, HK and tw

I also have this problem. How did you solve it? Please tell me

[2022-01-11 15:28] VitaliyRDev commented on #502
@13389203735 they've changed design of the website for these three countries, so mappings differs from others.

[2022-01-11 15:32] 13389203735 commented on #502
@VitaliyRDev Is there any way to get store app information from these three countries? I have encountered this problem and can't solve it. Ask for advice

[2022-01-11 16:16] 13389203735 commented on #495
@ansoncen I use the dev branch code locally, but I found that the app store can't get information in Kr, HK and tw

I also have this problem. How did you solve it? Please tell me

[2022-01-11 20:17] a2kas commented on #496
please update npm package

[2022-01-12 07:13] asher-y-ma commented on #500
thanks

[2022-01-12 07:13] #500 closed

[2022-01-12 10:56] #501 closed

[2022-01-12 10:58] facundoolano commented on #502
Duplicate of #495

[2022-01-12 10:58] #502 closed

[2022-01-12 10:58] #493 closed

[2022-01-12 11:01] #483 closed

[2022-01-12 11:41] 13389203735 commented on #502
@facundoolano Dev branch code. I can't get store information from stores in Kr, HK and tw. Do you have a solution

[2022-01-12 13:32] saahiluppal opened #504 "retrieving app gives error"
[code]
this snippet throws the following error
[code]

even providing ```fullDetail: True``` in the following snippet gives the same error
[code]

[2022-01-12 15:11] aldochaconc commented on #504
Issue #496 resolves this bug temporally by using ":github:facundoolano/google-play-scraper" as version on your package.json's dependency.
I suggest you take a quick look into that thread.

[2022-01-12 23:43] Wremeker opened #505 "Crashing app list (en language)"
* Operating System: Mac os Big Sur
* Node version: 17.01
* google-play-scraper version: last

### Description:
I get an error when I make a query with the parameters:  `gplay.list({ country: 'en', lang: 'en', collection: 'topselling_free' });`

### Error message:

`Error: Error requesting Google Play: Response code 400 (Bad Request)`

[2022-01-13 03:13] berrybar commented on #495
I also haven't solved it yet.

[2022-01-13 05:29] 1004885516 commented on #499
When will NPM be released

[2022-01-13 16:41] hmzisb commented on #496
Same with github too. Please fix it.

[2022-01-15 15:17] facundoolano commented on #504
closing duplicate of #496

[2022-01-15 15:17] #504 closed

[2022-01-15 15:18] facundoolano commented on #496
I just published a new version of the package. Closing this issue, let me now if the problem persists.

[2022-01-15 15:18] #496 closed

[2022-01-15 15:24] facundoolano commented on #503
If I recall correctly you can pass a `requestOptions` field to all the methods. This is passed over to the underlying request library, currently got: [check this for proxy support](https://github.com/sindresorhus/got/blob/main/documentation/tips.md#proxying).

If you figure out an example please share here.

[2022-01-15 15:25] facundoolano commented on #469
Closing this as we already replaced request with got [here](https://github.com/facundoolano/google-play-scraper/pull/494).

[2022-01-15 15:25] #469 closed

[2022-01-15 15:26] #451 closed

[2022-01-15 15:26] facundoolano commented on #442
no example, closing.

[2022-01-15 15:26] #442 closed

[2022-01-15 16:32] facundoolano commented on #505
does this continue with the new version?

[2022-01-15 20:23] icarcal commented on #505
@Wremeker try this:

`gplay.list({ country: 'us', lang: 'en', collection: 'topselling_free' }).then(console.log);`

Seems like you are sending the wrong country and the URL that the scrapper is trying to access really give you a 400:
`https://play.google.com/store/apps/top?hl=en&gl=en`

[2022-01-15 23:14] Wremeker commented on #505
@icarcal Thank you very much! It works

[2022-01-15 23:14] #505 closed

[2022-01-18 05:55] Rohan0980 opened #513 "{"status":400,"exception":"Error requesting Google Play:connect ECONNREFUSED 127.0.0.1:443"}"
* Operating System: MacOS
* Node version: v16.13.1
* google-play-scraper version: 8.1.0

### Description:
I have updated the version to 8.1.0 after facing issue similar to #496:
I have tried from my local, localtunnel and also deploying on instance, but the same issue still exists.

### Error message:

{"status":400,"exception":"Error requesting Google Play:connect ECONNREFUSED 127.0.0.1:443"}

[2022-01-18 15:47] icarcal commented on #513
Can you please provide a code example?

[2022-01-18 15:54] icarcal commented on #495
Looks like google play completely changed the kr store as @ansoncen pointed out.
The URL used by the lib is redirecting to `/apps`:
`https://play.google.com/store/apps/top/category/GAME/?hl=ko&gl=kr`

I'm not sure if this new store version has the `top` or `new` URL anymore.

Apparently, it does have some way to get the top/new apps, but differently than we do today:
`https://play.google.com/store

[2022-01-18 15:57] icarcal commented on #452
Hey, @danpostmail92 did you manage to do what you wanted?

[2022-01-18 16:00] 13389203735 commented on #495
There is still no way to solve this problem, right? Now apps in Kr and other countries can't get useful information

[2022-01-18 16:02] icarcal commented on #417
If you are using the `.app` method you can use `genre` or `genreId` fields to check this I believe.
On top of that, if you are using the `.list` method, you can use the `fullDetail` set to `true` and then use the `genre` or `genreId` fields returned.

Be aware that by using the `fullDetail` field, the lib will make hundreds of requests (one for the detail of each app).

[2022-01-18 16:04] icarcal commented on #209
Hey @facundoolano can we close this one since the tests have already been fixed?

[2022-01-18 17:44] facundoolano commented on #209
yeap

[2022-01-18 17:44] #209 closed

[2022-01-18 23:04] facundoolano opened #514 "parseList/memoization is used inconsistently"
the utils/parseList.js module was originally used as a helper to request lists with fullDetail:true while leveraging app method memoization (i.e. reuse the app detail cache across list/search/similar/developer list calls). Currently it would seem as the code only honors this feature for the search method, while others require the app detail method separately.

We should either use parseList + memo

[2022-01-18 23:06] facundoolano opened #515 "duplication of processPages methods"
we have many instances of processPages (aka processAndRecur) functions with a lot of duplicated code. See if a single one can be reused everywhere or a parametrized functinon (s) can be used instead, to reduce duplication.

[code]

[2022-01-19 04:22] ansoncen commented on #495
I have raised a concern that google may sooner or later apply the new store to all the regions.

[2022-01-19 05:54] Rohan0980 commented on #513
@icarcal Please find the code below:
[code]

[2022-01-19 08:26] mslusarczyk commented on #513
This is probably caused by some DNS resolving issue in `got` that google-play-scrapper switched to in this PR https://github.com/facundoolano/google-play-scraper/pull/494

Their GH Issues have multiple entries of this kind but the dev seems not to be interested in fixing it
https://github.com/sindresorhus/got/issues?q=is%3Aissue+ECONNREFUSED+is%3Aclosed+

[2022-01-19 09:16] valentinkorzun commented on #513
In my case, I fixed it with an npm audit fix. It fixed some vulnerabilities in package-lock and everything seems to be working.

Yes, as discuss above, problems were with got or https-proxy-agent package.

[2022-01-19 12:15] facundoolano commented on #495
Yes i think that's very likely. Ideally we'd have support for both and switch when they do, but I don't have the bandwidth to start working on the new scraper at the moment.

[2022-01-19 20:28] facundoolano commented on #514
the parselist issue is addressed here df4c768b34623751f639477dd8b29b6c12c1196a
the memoization of list+app requests is still kind of broken but can be addressed separately

[2022-01-19 20:28] #514 closed

[2022-01-20 08:44] marxsk opened #517 "Document that node.js 8.x is not enough for 8.1.x"
Previously, it was possible to run library on top of the nodejs 8.x, now you have to upgrade node. What is fine but should be mentioned somewhere.

Problem is using of generator functions [ function* (url, options) ] used in pirates module. Again, it is fine to no longer support obsolete versions :) But this issue may help someone in similar situation.

[code]

[2022-01-20 09:01] mslusarczyk commented on #513
If anyone is interested a version 8.0.4 + cherry-pick with changed schema works just fine: https://github.com/mslusarczyk/google-play-scraper

[2022-01-21 06:12] Rohan0980 commented on #513
Thank you @mslusarczyk . I am using your code for now. But will there by any proper resolution to this?

[2022-01-21 10:53] facundoolano commented on #513
We can just go back to the old request library If the new one is causing issues. It would be ideal to come up with a unit test to exercise this scenario so we don't break it again.

[2022-01-24 16:00] JDSeiler commented on #513
I was experiencing some difficult to reproduce errors where some requests would hang indefinitely. I wish I could be more specific but I'm still not sure what exactly was going on. However, switching to the 8.0.4 + cherry pick branch provided by @mslusarczyk resolved the issue immediately and it hasn't occurred since.

So, if it's possible to go back to the old request library, I think that's the

[2022-01-25 11:49] Aliaksandr-Kasko-JazzTeam commented on #496
@facundoolano still facing this issue for mentioned above kr, hk and tw stores

[2022-01-25 13:53] facundoolano commented on #496
The kr error is a different issue, see #495

[2022-01-28 19:14] bumsun opened #518 "Method suggest has() stopped working."
Method suggest has stopped working.
`await gplay.suggest({term: req.body.query, lang:"ru", country:"ru", throttle: 10});`
Does anyone have such a problem?

[2022-01-30 18:40] bumsun commented on #518
I'm getting this error:
[code]

[2022-02-03 20:22] Giszmo commented on #491
So apparently Google rolled out per-country stats gradually, which made me think the initially occasionally missing rating for Chile was a bug or throttling as on subsequent calls I got stats. This issue as created at a point where those stats were not obtainable at all anymore.

[2022-02-03 20:22] #491 closed

[2022-02-09 11:08] streamride commented on #456
It seems that country does not matter for filtering reviews. The main filter is language parameter and it's not actual language of review, it is language of Google account of user left this review.

[2022-02-09 13:30] manuel-dev commented on #518
Google url where google-play-scraper searchs to extract the suggestion terms is no longer available because of Google policies.
(https://market.android.com/suggest/SuggRequest?json=1&c=3&query=QUERY)
So all methods related to Suggest in other libraries (google-play-api and aso) also don't work.

[2022-02-15 18:18] protometa opened #520 "Throttling hangs on errors"
* Operating System: Mac
* Node version: 16
* google-play-scraper version: 8.1.0

### Description:

The throttling code does not handle errors and hangs.

### Example code:

See failing test in PR..

### Error message:

No error just hangs.

[2022-02-16 03:02] 89z commented on #456
https://github.com/JoMingyu/google-play-scraper/issues/109

[2022-02-16 03:02] 89z commented on #456
I dont think this is specific to this package. `hl` does work:

https://play.google.com/store/apps/details?id=com.google.android.youtube&hl=es

but `gl` does not:

https://play.google.com/store/apps/details?id=com.google.android.youtube&gl=mx

[2022-02-16 10:46] MehdiRanglerz opened #522 "querystring could not be found within the project"
**Operating System: Mac OS**

* Node version: v17.0.1
* google-play-scraper version: google-play-scraper": "^8.1.0",

**Description:**
I was trying to use play scrapper, I just installed the package using npm and then I got issue of querystring.

**Error message**

/RecruitMe/node_modules/google-play-scraper/lib/app.js: querystring could not be found within the project or in these directories:
  n

[2022-02-17 00:36] 89z commented on #495
If you only need the Korean language, I have a solution. If it needs to be specific to South Korea, I cannot help.

[2022-02-17 01:24] 89z commented on #518
I have an alternate package that works:

[code]

[2022-02-20 17:43] KaKi87 commented on #425
Hello ?

[2022-02-26 16:01] facundoolano commented on #518
I don't think this is a policies thing, they just disabled the endpoint url we are using here, and replaced with another one (which looks more similar to the rest of the methods, for example the permissions one).

URL:
[code]

Form data
[code]

Response:
[code]

[2022-02-26 17:14] #518 closed

[2022-03-03 12:28] Kayxue opened #525 "Suggestion: Publish this node module to deno.land"
### Description:
Can you please publish  this module to deno.land/x ? I want to use it in Deno 🥺

[2022-03-03 13:14] facundoolano commented on #525
I added it as `google_play_scraper`. If I understand correctly it will be available next time I push a release tag.

[2022-03-08 22:20] adlasermike opened #526 "Querying on low download numbers"
Thank you so much for your service! It has been very helpful to us. Our company wants to target app developers who are just getting started and thus their apps would have relatively low download numbers. The list functionality requires me to choose a grouping for top developers primarily. For me, query results are only 200 records long and I am not getting many of the type of developers/apps that

[2022-03-15 14:38] Chaepica opened #527 "Number of results"
Does anyone have a problem when searching for applications through "search"? It gives me no more than 49 results, despite the fact that "num" is set to 250.

[2022-03-22 02:42] Panda2Chan opened #529 "Error: The collection movers_shakers is invalid for the given category, top apps or new apps"
* Operating System:Win10
* Node version:10.12.0
* google-play-scraper version:8.1.0

### Description:

There is an error here when I use  collection["TRENDING"] in gplay.list

and what is "movers_shakers " mean?

### Example code:
[code]

### Error message:
[code]

[2022-03-22 03:07] Panda2Chan commented on #529
![image](https://user-images.githubusercontent.com/54430572/159399750-c39b3c98-45c9-4600-95a8-22171972196d.png)
How can I collect data for this leaderboard?

[2022-03-25 14:46] namanappbroda011 opened #530 "score, ratings, reviews and histogram appears to be 0 for some apps (for eg - 'snkt.radhe.alllanguagestranslation')"
* Operating System:
* Node version:
* google-play-scraper version:

### Description:
Even though this app has 100k+ downloads and play store showing its rating, scraper can't scrape the data and showing 0 instead.
### Example code:
[code]
### Output
[code]

### Error message:

[code]

[2022-03-26 06:52] srikanthlogic commented on #530
When you pass country param, it works. Noticed this in few apps, don't know if its related to some developer settings
![image](https://user-images.githubusercontent.com/126862/160228471-439388cd-3636-46d0-b131-7f8ff0be082e.png)

[2022-03-26 11:33] namanappbroda011 commented on #530
Yes by inserting the params it worked! Thanks alot

[2022-03-26 11:33] #530 closed

[2022-03-29 13:54] ivanhjel commented on #418
@icarcal is this added back again? I still seem to only have "null" titles 😅

[2022-04-08 10:01] oto-tatsuu opened #531 "can I get use this module with a proxy？"
For I'm in China. I can only use proxy to access Google Play.Does this project supports proxy?

[2022-04-15 11:46] ozrendev opened #533 "List function is returning an empty array"
* Operating System: Linux
* Node version: v17.7.1
* google-play-scraper version: github latest

### Description:

`CLUSTER_NAMES` mapping needs to be updated for `TOP_FREE, TOP_PAID, GROSSING` otherwise it returns an empty array and cannot create `clusterUrl`

### Example code:
[code]

### Error message:

`clusterUrl` returns empty array

[2022-04-15 15:00] facundoolano commented on #527
Can you give sample code of how this fails? Seems to work on a basic test for me:

[code]

[2022-04-25 22:57] shifoc opened #535 "is it possible to get the version number for a beta app?"
For example WhatsApp Beta

[2022-04-26 19:40] 89z commented on #535
please provide link or app ID

[2022-04-26 19:42] shifoc commented on #535
com.whatsapp

[2022-04-26 19:43] 89z commented on #535
like this?

[code]

[2022-04-26 19:47] shifoc commented on #535
I want the beta version which is 2.22.9.10 now. 2.22.8.78 is the stable version

[2022-04-26 19:47] shifoc commented on #535
I want the beta version which is 2.22.9.10 now. 2.22.8.78 is the stable version

[2022-04-26 19:48] 89z commented on #535
Is that available on the public website?

[2022-04-26 19:51] shifoc commented on #535
I guess you need to login to be able to see it

[2022-04-26 19:58] 89z commented on #535
No, I don't think so. Same version is listed, regardless of signin status.

[2022-04-26 20:00] 89z commented on #535
https://play.google.com/apps/testing/com.whatsapp

[2022-04-26 20:28] shifoc commented on #535
I think you are right on the web I didn't see  the beta version, only on the play store. Regarding the link you sent you should refresh multiple times and you will get in. You can also try with com.whatsapp.w4b

[2022-04-26 20:53] 89z commented on #535
Sorry I am not messing with this any more. Good luck to you.

[2022-04-28 15:42] zulu149r opened #536 "When review is getting fetched by RATING it is returning empty list"
* Operating System: **win 10**
* Node version: 14.17.5
* google-play-scraper version: 8.1.0

### Description:
I am trying to fetch an application's review in a paginated manner its working ok but when I am trying to fetch it by RATING sort it is returning me empty list and Also the nextPaginationToken is returning **null**

### Example code:
[code]

### Error message:

[code]
![image](https://user

[2022-04-30 06:58] zulu149r opened #537 "Error requesting Google Play: While fetching suggestions"
* Operating System: Win 10
* Node version: v14.17.5
* google-play-scraper version: 8.1.0

### Description:
Whenever trying to get suggestion from google play it is returning

Error: Error requesting Google Play:
    at D:\101logix\PROTHEME\protheme1\app analysis\api\node_modules\aso\node_modules\google-play-scraper\lib\utils\request.js:44:19
    at processTicksAndRejections (internal/process/task_

[2022-04-30 08:28] Idan-Garay opened #538 "Is it possible to get the release notes of each apps?"

[2022-05-05 02:26] 89z commented on #538
Can you clarify what the result should be? All I see is this:

https://play.google.com/store/apps/details?id=com.google.android.apps.translate

[2022-05-13 08:40] sonyvivek commented on #527
Hi,
Here below is  sample code when we include full detail flag as true. it throws error
gplay.search({term: "panda", fullDetail: true, num:250}).then((l) => console.log(l.map((a) => a.title)))

If we change num value to 48 or 49 it will work. If value is more than that it throws the  error.

(node:16552) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'replace' of undefined

[2022-05-17 12:01] ansoncen commented on #495
Any updates on this? I found all the play store page has been updated to the new layout, while the API still works for the time. I found some browsers still can open the old version (could be the A/B test), this might be the reason the API still works for now.

[2022-05-17 13:21] regexj opened #539 "Error: Cannot read property 'replace' of undefined"
Operating System: Linux
Node version: 14.19.2
google-play-scraper version: 8.1.0

### Description:
We are using this scraper on a cron once an hour as part of a version control system. Occasionally the below Http Exception is thrown and we are emailed about the failure.

### Example code:
This is the code we're running.
[code]

This is the code in the package that appears to be throwing the error:

[2022-05-18 08:26] Koyamie opened #540 "Security issue still present"
* Operating System: Debian 10
* Node version: 16.15.0
* google-play-scraper version: 8.1.0

### Description:
The nth-check security issue is still present when installing version 8.1.0.
When installing this version, the cheerio version is not corresponding to the version present in this repository. It installs version 0.22.0 that contains the security issue.

### Example code:
[code]
![kitty_DWbUx

[2022-05-18 09:42] shaindi opened #541 "Have same error"
my code worked fine till yesterday,
then stopped work.

the same error (Error: Cannot read property 'replace' of undefined)

has something changed in api?
is there new version to fix this?

[2022-05-19 05:23] ChayaGel commented on #539
Is something changed in api?
I start get the same error in my project, 2 days ago.

"Cannot read property 'replace' of undefined"

It is not clear-
Rarely manages to run
And most of the time fails

is there new version of google play scraper to fix this?

[2022-05-19 07:33] sergeyrepko commented on #541
i have exactly the same problem
how can this be fixed?
<img width="986" alt="image" src="https://user-images.githubusercontent.com/80681063/169237637-305fc17c-7a1a-4119-90b8-c475e1bbeb1d.png">

[2022-05-19 09:45] ChayaGel commented on #541
#539 it is the same question.

any answer?

[2022-05-19 14:04] sandeepscet opened #543 "Issue with Country:BR"
* Operating System: Windows
* google-play-scraper version: 8.1.0

### Description:
Multiple Functions are not working with Brazil country code including provided TC in google play scraper.  Below code working for US, IN.

### Example code:
[code]

### Error message:

[code]

[2022-05-19 23:00] dave-filion commented on #539
Same thing happening to me, I'm guessing something changed with the `descriptionText` field?

[2022-05-19 23:59] VitaliyRDev commented on #541
@icarcal @facundoolano any ideas ?

[2022-05-20 00:08] VitaliyRDev commented on #539
Yeah, i guess it's time to change mappings

[2022-05-20 00:44] VitaliyRDev opened #544 "Scraper works randomly with errors."
It just started working pretty randomly. One time it works but the next time it's 404. Anyone has the same thing ?

[2022-05-20 04:33] sandeepscet commented on #543
Randomly this error started for IN also. Seems due to playstore UI rewamp.

[2022-05-20 06:40] akayjoshi commented on #539
Google is performing some A/B testing. In the upcoming days UI of the play store also change.

[2022-05-20 07:52] HeyItsMedz commented on #543
Have also randomly come across this issue with country set to gb

[2022-05-22 19:51] icarcal commented on #541
Looks like google is doing some kind of AB test for the new UI, as folks mentioned in other issues.
I'm taking a look on this now, but seems to me that unless we map both of old and new UI, the scrapper will be indeed randomly failling

[2022-05-23 14:34] fti commented on #544
When I logged in play.google.com in web browser, I noticed that always loading old version of the ui. So I investigated the cookies to find a way to call requests with my authentication. After many experiments, I found that "NID" cookie stops randomness.

Steps:
Log in play.google.com and if you see new version of ui, this will not work, try an old google play user account.
Copy NID cookie value i

[2022-05-24 18:56] Davies-Owen commented on #539
@facundoolano @icarcal Anything you can do about this? I tried taking a look at the mappings myself but I can't make any sense of it.

[2022-05-25 10:13] fti commented on #544
Not working anymore. I think new UI is completely live.

[2022-05-26 04:36] dhung1308 commented on #513
Same issue, I need to using git @mslusarczyk, but nearly it got some error about "cannot read properties of undefined (reading 'replace')"
I back to main git but got error "Error: Error requesting Google Play:connect ECONNREFUSED 127.0.0.1:443"

Anyone help fix this error please ?

[2022-05-26 12:48] CyrilCermak commented on #539
I tried to work around the errors with the mapping all way to the end but then ended up with an empty object. So it's not `descriptionText` only.

[This](https://github.com/facundoolano/google-play-scraper/issues/544) is the main reason why it's failing. I think now the mapping must be completely re-done for the new UI of the Play Store.

[2022-05-26 23:45] pvomhoff commented on #539
Same thing happening to me. I was able to fix the mapping by completely redo it.
Unfortunaly Google doesnt provide all properties as before.

I created a [PR](https://github.com/facundoolano/google-play-scraper/pull/545) with my changes.
Hope this helps.

[2022-05-26 23:50] Davies-Owen commented on #539
@pvomhoff Thanks! Hopefully that will get merged soon. Out of curiosity, how do you generate the mappings? Is there a special tool you use to do it?

[2022-05-26 23:57] pvomhoff commented on #539
So i fetched this big weird json from Play Store for the old version and the new version.
Then i basically searched the value that was outputted by the scraper in the new json of the Play Store and copied the path. 🙂

My biggest problem was actually that Google didnt fully roll out the changes yet so it kept breaking depending which version the scraper got.
Therefore i added a detection if it's th

[2022-05-27 09:59] Lghher opened #546 "gplay.search always returns null list"
This function (gplay.search) always returns null list, how to solve the problem of funtion gplay.search? Is this problem also caused by google play UI update?

[2022-05-27 10:19] sandeepscet commented on #546
Duplicate of https://github.com/facundoolano/google-play-scraper/issues/539

[2022-05-27 10:19] sandeepscet commented on #543
Duplicate of https://github.com/facundoolano/google-play-scraper/issues/539

[2022-05-27 10:19] #543 closed

[2022-05-27 10:20] sandeepscet commented on #544
Duplicate of #https://github.com/facundoolano/google-play-scraper/issues/539

[2022-05-27 10:20] sandeepscet commented on #541
Duplicate of #https://github.com/facundoolano/google-play-scraper/issues/539

[2022-05-27 11:35] #546 closed

[2022-05-27 11:37] #544 closed

[2022-05-27 11:37] #541 closed

[2022-05-27 13:59] jseparator commented on #531
改的哪块

[2022-05-27 15:13] facundoolano commented on #531
我不明白

[2022-05-27 16:24] 99zikke commented on #529
@Panda2Chan Hi, I have the same problem. Do you have any idea how to fix it now?

[2022-05-27 16:25] 99zikke commented on #488
@cac-dean Hi, I have the same problem. Have you fixed it now?

[2022-05-28 14:55] andrew-curry commented on #488
i have the same question,anyone has any ideas?

[2022-05-29 16:29] KaKi87 opened #548 "No search result, at all"
* Operating System: Debian 10 or Ubuntu 21.10
* Node version: 14.19.2 or 14.19.3
* google-play-scraper version: 8.1.0 (latest release) or 6ba483a (latest commit)

### Description:
`search` returns no result, at all.

### Example code:
[code]

### Error message:

None.

Result is `[]`.

---

Thanks

[2022-05-30 03:22] Panda2Chan commented on #531
有用，感谢

[2022-05-30 03:27] Panda2Chan opened #549 "The collection topselling_paid_games is invalid for the given category, top apps or new apps"
* Operating System:windows 10
* Node version:14.16.1
* google-play-scraper version:8.1.0

### Description:
【 gplay.list 】 I can't use all of them，such as 【TOP_FREE_GAMES】，【GAME_ROLE_PLAYING】

### Example code:
[code]

### Error message:
[code]

[2022-05-30 05:19] sandeepscet commented on #548
Duplicate of #https://github.com/facundoolano/google-play-scraper/issues/539

[2022-05-30 06:31] adtimizer commented on #539
@pvomhoff
I would like to help with the mapping of search and lists but would need some advice from you.
I was able to get the json for search results (ds:4), my question is, are you using a special editor to count the array elements? i lost counting like 1000000 times while trying to figure out the location of the element within the nested arrays.

[2022-05-30 10:52] lau1944 commented on #549
Same here, waiting for update...

[2022-05-30 16:04] Giszmo opened #550 "Detect changed mappings and give a saner error"
Google changes mappings more often than we would like and every time that happens, people flock to this issue tracker, open at least 5 issues and in the replies, the same questions repeat, too.

Google does these changes in slower or faster staged rollouts, so things at first just look glitchy (run twice and it works), then buggy (Run it ten times and maybe it works) and then completely broken.

W

[2022-05-31 02:58] 89z commented on #550
How do you feel about using the Android API instead? It requires login, but it hasn't changed since at least October of last year, likely much longer

[2022-05-31 02:59] Panda2Chan commented on #488
same where

[2022-05-31 04:31] ansoncen commented on #550
I was thinking if Google has some sort of API that returns the app information when the app web page was loaded. When I inspect the source code and network request, I found those requests are quite nonsense to me.

[2022-05-31 06:22] DorAmram commented on #488
Same question

[2022-05-31 06:54] adtimizer commented on #549
My two cents:
i've found two lists that works but trying to find a pattern - to be continue

https://play.google.com/store/apps/collection/topselling_new_free
https://play.google.com/store/apps/collection/topselling_new_paid

[2022-05-31 08:18] ChayaGel opened #551 "Problem with countries in search"
after all fixes in mapping from the "pull requests",
my search back to work.

but there are some strange problems:
search with country "be" (belgium) returns empty array- [], (maybe another countries)

[2022-05-31 08:42] ChayaGel commented on #539
I had a strange problem:
try search "waze" - get []
"wazee"  (Intentional spelling mistake)- works. #551

**I found the reason and want a solution.**

in the new UI, when search term is equals exactly to name of an app, it show this specific app big before all results,
then our mapping crashes.
(open https://play.google.com/store/search?q=waze&c=apps to understand me)

that why, search "word", "Pe

[2022-05-31 08:45] chickito opened #552 "Add 'privacy' purposes"
### Description:
Enhance GooglePlay Scrapper with privacy data extractions as Appstore Scrapper does : [.](https://github.com/facundoolano/app-store-scraper#privacy).

Since April 2022, GooglePlay Store gives informations about privacy uses : [https://play.google.com/store/apps/datasafety?id=com.github.android](url)

[2022-05-31 08:51] ChayaGel commented on #539
Small accuracy:
It's probably not a matter of an exact app name but of a too good fit for a specific app,
For any reason.

(Then Google shows it big and we miss out on the mapping)

In short, our mapping should also be tailored to the option of having one primary outcome first and foremost

[2022-05-31 12:02] knirpsfass commented on #551
I've debugged it a little bit. Seems like european? countries do have an additional
"About the result" information which shifts the index of the apps array by 1.
<img width="2212" alt="Screenshot 2022-05-31 at 13 56 16" src="https://user-images.githubusercontent.com/42298776/171167531-cf981ac4-17e3-4a97-992d-82b3443198a4.png">
 So the mapping for the apps would be
```apps: ['ds:4', 0, 1, 1, 22, 0]

[2022-05-31 12:23] Aliaksandr-Kasko-JazzTeam commented on #549
Same here. From all collections listed in `gplay.collection` only one collection (`topselling_new_free`) do not fail but returns empty list.
@adtimizer I suppose that Google changed url from `/store/apps/top/category/{category_name}` to `/store/apps/collection/{category_name}` but it needs to test

[2022-05-31 15:25] chriskinsman opened #553 "Search is now consistently failing to return a result"
* Operating System: MacOS 12.4 and Amazon Linux 2
* Node version: 16.13.1
* google-play-scraper version: 8.0.4 and 8.1.0

### Description:
Search is now consistently returning no results.  Was hit and miss over last couple weeks. 100% failure now.  Guessing google play store change?

### Example code:
[code]

### Error message:

[code]

[2022-05-31 17:39] kufelkamil commented on #550
Hi @89z, which Android API are you referring to?

[2022-05-31 18:09] adtimizer commented on #553
@chriskinsman the following fixed the search issue for me
in package.json replace the google-play-scraper 8.1.0 with the following:
"google-play-scraper": "git+https://github.com/facundoolano/google-play-scraper#pull/547/head",

[2022-05-31 21:20] NathanManning commented on #553
It doesn't fix results that are 'clustered', i.e. have 'Similar apps' and 'More results' carousels. search.js used to skipClusterPage(), but now that's broken.

[2022-05-31 22:55] archon810 opened #554 "Genres/categories incorrect or missing"
* Operating System: OpenSUSE 15.3
* Node version: v12.20.0
* google-play-scraper version: git+https://github.com/facundoolano/google-play-scraper#pull/545/head"

### Description:
Let's take https://play.google.com/store/apps/details?id=mytown.home as an example. Both in json and html, we see multiple categories for this game:
https://play.google.com/store/apps/category/GAME_SIMULATION
https://play

[2022-05-31 23:05] archon810 commented on #554
https://play.google.com/store/apps/details?id=com.google.android.googlequicksearchbox doesn't even show a category in HTML? I can't find it. Yet the scraper returns `"genre":"Tools","genreId":"TOOLS"`. Google, why are you like this?

[2022-06-01 00:24] ansoncen commented on #550
Anywhere I can find the docs for these? Both return 404 when I open them in the browser.

[2022-06-01 00:27] 89z commented on #550
I have a repo that implements them. If you want you can check that, and/or post an issue there.

[2022-06-01 05:46] baguse commented on #554
@archon810 the scrapper get the return from javascript data i think

[2022-06-01 05:56] archon810 commented on #554
This needs looking at, because the data is there in the JSON too, I think.

[2022-06-02 08:18] mnikitas commented on #553
Is there any plan to resolve this?

[2022-06-02 09:31] xshagg commented on #539
I wrote a pair of scripts which helped me to build my mappings
[json-inspect.zip](https://github.com/facundoolano/google-play-scraper/files/8822515/json-inspect.zip)

[2022-06-02 12:46] manuel-dev commented on #553
The situation is difficult. If finally it's resolved, don't expect it to work like it used to. Google is now returning very limited results, when it returns any...
Before this, in a regular search, where you got hundreds of results on a search term, now it might return 9... or 12... or 25...

[2022-06-02 15:38] NathanManning commented on #553
I would take 9, 12, or 15 right now. Is that change on a pull request somewhere that I'm missing?

[2022-06-02 17:54] borgmonitoringzoo commented on #554
PSA. Google released a new version of the Google play UI. Genres are among some of the fields that have changed.

The change started rolling out May 12th per this article: https://chromeunboxed.com/google-play-store-web-app-redesign-begins-rollout-us

You may not have seen the change because Google was doing AB testing.

[2022-06-02 17:59] 89z commented on #554
I would recommend closing this issue. @archon810 is a known copyright violator:

https://github.com/illogical-robot/apkmirror-public/issues/200

[2022-06-03 12:36] adtimizer opened #555 "Similar link now found"
After trying the different PRs I was trying to add my contribution and try to fix the "similar" apps.
I was looking at the cluster URL and modified the path to the following:

 cluster: ['ds:7', 1, 1, 0, 21, 1, 2, 4,2]
I've also tried
 cluster: ['ds:7', 1, 1, 1, 21, 1, 2, 4,2] (for EU it came like that)

but for some reason it throws and error that cluster URL not found.
I took the URL from this l

[2022-06-04 07:44] adtimizer commented on #555
So, it took sometime but i figure out the reason.
When i used my chrome browser to check the path, it was from a chrome connected to the store with a user, **this tends to change the mapping**
After signing out, it appears that ds:6 is the actual path i need to look into (logged in user adds device information so changed the mapping)

[2022-06-04 07:44] #555 closed

[2022-06-04 11:52] lau1944 commented on #539
Any update? It's been a week.

[2022-06-05 12:45] YakobovLior commented on #488
I'm also facing this issue.
Is there any way to list the 500 top free applications (without mentioning category)?

Thanks in advance

[2022-06-06 13:29] AleAmla987 opened #556 "Does this library work?"
Hello people, this library no longer works? because I downloaded the latest production version and it has an error, I found that the author tells me to download a version with a specific commit but I can't put that in production.

[2022-06-07 08:12] marxsk commented on #556
Create your own fork and put it into a production if current situation is not suitable for you

[2022-06-07 16:23] aldochaconc commented on #556
I've been using this library and everything works fine. I'm using the one that is on npmjs

[2022-06-07 16:58] AleAmla987 commented on #556
Thanks for the advice, I already did.

[2022-06-08 08:52] adtimizer commented on #553
Hello All,
I was able to fix the search on my end. (code to follow- not sure about my qualities to perform an actual PR)
The fix checks if there is an extra result (the search return the most suitable result) and if that case it changes the mapping to get all other results.
//TODO - add the most suitable result to the list.

`const INITIAL_MAPPINGS1 = {
    apps: ['ds:4', 0, 1, 0, 22, 0],
    toke

[2022-06-09 00:27] dave-filion commented on #553
Hey adtimizer! Do you have the fix for search on a branch or fork? Trying to get it working as well.

[2022-06-09 11:53] AbhishekOnedigital opened #558 "Developer information is not getting populated for any app"
![image](https://user-images.githubusercontent.com/17587331/172840653-67d78a33-c91a-4c43-a800-e5f788490c15.png)

[2022-06-10 02:29] gilzonme commented on #558
`var gplay = require('google-play-scraper');
gplay.search({
    term: "app",
  }).then((data)=>{
      console.log(data)
//respose is []
  })`

[2022-06-10 06:12] adtimizer commented on #553
@dave-filion this is the search class (with my modifications) under  lib folder (i'm away so can't fork/branch)
replace yours with this code and search will work for you.

[code]

[2022-06-11 02:42] mukut007 commented on #556
Can you use the list API to get top apps in a category? I keep getting `Error: The collection topselling_free is invalid for the given category, top apps or new apps`

[2022-06-11 20:00] crypto-Palladin opened #559 "Empty result"
I am sorry for the possible duplication.
Using googlePlayScraper..search({ term: "kye words"  }) returns an empty array of results.
I haven't found any curing solution to this issue.

[2022-06-11 20:04] crypto-Palladin commented on #559
Due to the studying all the possible and available versions, tried this PR git+https://github.com/facundoolano/google-play-scraper#pull/557/head
and it worked!

[2022-06-13 05:00] mmoksh commented on #553
@dave-filion Try this: https://github.com/facundoolano/google-play-scraper/pull/557

[2022-06-13 16:30] aldochaconc commented on #556
Oh, I haven't tried that case, but as the message says, which categories are you using?

[2022-06-13 17:04] archon810 commented on #554
@facundoolano Is this one on your radar as well?

[2022-06-14 05:02] 89z commented on #554
I would not help @archon810, as they use open source software like this one, but refuse any information on their own software.

[2022-06-14 06:03] archon810 commented on #554
I'm blocking you because you seem to have some weird vendetta and complete lack of understanding of licenses, like MIT.

[2022-06-16 04:16] chriskinsman commented on #553
@mmoksh #557  worked for a bit but looks to now be failing again today

[2022-06-16 05:58] sdy016 commented on #559
I had the same problem..........

[2022-06-17 05:37] mmoksh commented on #553
@chriskinsman What query did you use to make it fail? I just tried different queries and it looks like it's working well

[2022-06-17 06:20] mmoksh commented on #553
@chriskinsman It might cache issue. Please try to delete the `package-lock.json` file and `node_modules` folder then run `npm i` and check if that works

[2022-06-20 17:46] 89z commented on #539
Are you guys paying the developer? Otherwise I don't think you should be having any expectation on when this would be done.

[2022-06-23 16:26] #556 closed

[2022-06-23 16:28] facundoolano commented on #559
can you check if this still happens with the latest version?

[2022-06-23 16:29] #531 closed

[2022-06-23 16:29] facundoolano commented on #558
can you check if this still happens with the latest version?

[2022-06-23 16:29] facundoolano commented on #554
can you check if this still happens with the latest version?

[2022-06-23 16:30] facundoolano commented on #553
can you check if this still happens with the latest version?

[2022-06-23 16:30] facundoolano commented on #551
can you check if this still happens with the latest version?

[2022-06-23 16:30] facundoolano commented on #549
can you check if this still happens with the latest version?

[2022-06-23 16:31] facundoolano commented on #539
can you check if this still happens with the latest version?

[2022-06-23 16:31] facundoolano commented on #537
can you check if this still happens with the latest version?

[2022-06-23 16:31] facundoolano commented on #536
can you check if this still happens with the latest version?

[2022-06-23 16:31] facundoolano commented on #533
can you check if this still happens with the latest version?

[2022-06-23 19:47] knirpsfass commented on #551
works with 9.0.0

[2022-06-23 19:48] #551 closed

[2022-06-24 01:33] Panda2Chan commented on #549
Problem solved, it's perfect, thanks

[2022-06-24 01:35] Panda2Chan commented on #549
@facundoolano The problem has been solved, thanks

The problem has been solved, thanks

[2022-06-24 01:36] #549 closed

[2022-06-24 01:37] facundoolano commented on #495
can you check if this still happens with the latest version?

[2022-06-24 01:38] facundoolano commented on #488
can you check if this still happens with the latest version?

[2022-06-24 01:38] #490 closed

[2022-06-24 01:39] facundoolano commented on #416
closing as duplicate of #488

[2022-06-24 01:39] #416 closed

[2022-06-24 01:40] facundoolano commented on #488
closing as duplicate of #549

[2022-06-24 01:40] #488 closed

[2022-06-24 01:40] facundoolano commented on #529
closing as duplicate of #549

[2022-06-24 04:37] AbhishekOnedigital commented on #558
Yes it working thanks @facundoolano

[2022-06-24 04:37] #558 closed

[2022-06-24 10:08] regexj commented on #539
Updated to v9.0.0. Appears to be working! Have rolled out to production immediately. Thank you

[2022-06-24 10:26] KaKi87 opened #562 "[Question] Changelog / migration guide ?"
Hello,

I noticed that `search` now throws an error when no result is found, while it used to return an empty array.

Are there other things that we should be aware of, before publishing an app in production with v9 ?

In general, it's nice to have a changelog or migration guide, especially when breaking changes like this occur.

Thanks

[2022-06-24 11:35] #539 closed

[2022-06-25 23:20] KaKi87 commented on #539
Now it's *'**split**' of undefined* : https://git.kaki87.net/playsearch.kaki87.net/v2-api/issues/2

[2022-06-26 06:30] ChayaGel opened #563 "V9 has bugs"
Fails "Cannot read property 'map' of undefined" on some cases - problems about new UI that are not fixed:
1.Countries issue seems still not work (I tried with "be")
(https://github.com/facundoolano/google-play-scraper/issues/551#issuecomment-1142043251 - this is the principle of solution, but have to come into the new version)
2. mapping result page with main-app not work, (try "waze" vs "waze_",

[2022-06-27 15:02] knirpsfass commented on #551
I fucked up really hard on the test. Really sorry for that. Issue is still present but now
` "message": "Cannot read properties of undefined (reading 'map')"` is returned

[2022-06-27 15:42] knirpsfass commented on #563
First issue is on me.
I've analyzed it further once again in
https://github.com/facundoolano/google-play-scraper/issues/551#issuecomment-1167466402

[2022-06-28 07:56] ChayaGel commented on #563
works

[2022-06-28 07:56] #563 closed

[2022-06-28 08:09] KaKi87 opened #566 "[Bug] search: "Showing results for" error"
* Operating System: Linux Mint 19.3
* Node version: 16.15.1
* google-play-scraper version: 9.0.0

### Description:
A `Showing results for` error is thrown when using `search` with a typo.

### Example code:
[code]

### Error message:
[code]

### Additional info:
This is probably related to the following screenshot.
![Screenshot from 2022-06-28 10-04-28](https://user-images.githubusercontent.com/21

[2022-06-30 08:55] shaindi commented on #566
I came across this bug too.
The "Showing results for" section have to be considered in the mapping.
I Don't know how to fix.

[2022-06-30 10:52] Aliaksandr-Kasko-JazzTeam opened #567 "Still facing crashing when getting app details for [kr, tw, hk] markets"
* Operating System: node16-alpine Docker Image
* Node version: 16.x
* google-play-scraper version: 9.0.1

### Description:

### Example code:
[code]

### Error message:
First error on descriptionText
[code]
If I add nullsafe to description like this
`function descriptionText (description = '') {`
then I got an error in another place:
[code]
But here I can't find a quick fix anymore.

Maybe there's

[2022-06-30 12:33] facundoolano commented on #566
I published a patch yesterday, can you try again?

[2022-07-01 18:40] knirpsfass commented on #567
seems like the data key for the app is `ds:5` instead of `ds:4`

[2022-07-05 13:19] Aliaksandr-Kasko-JazzTeam commented on #567
UPD. I also found that it affects on `th` and `au` markets.

[2022-07-05 13:53] knirpsfass commented on #567
@Aliaksandr-Kasko-JazzTeam i've opened #572 but i still need to test it and also fix the family genre mapping

[2022-07-05 15:00] Aliaksandr-Kasko-JazzTeam commented on #567
@knirpsfass for now I can confirm that for th market your PR works fine

[2022-07-12 18:27] finchfor commented on #456
Hi, I am not very into JavaScript but is it possible to take all reviews from all countries without writing the code for 195 times:)

[2022-07-14 14:22] nitrag opened #573 "New Release Please"
The main branch fixes a bug at https://github.com/TradeMe/ReviewMe/issues/63, can we get a new release to npm?

[2022-07-17 12:43] KaKi87 commented on #573
Personally I directly import `git+https://github.com/facundoolano/google-play-scraper.git` as dependency, since the scraper requires highly frequent fixes.

[2022-07-17 13:11] KaKi87 opened #574 "app() no longer returns 'size'"
- Operating System: Debian 10
- Node version: 16.16.0
- google-play-scraper version: [`f4a1cf6`](https://github.com/facundoolano/google-play-scraper/commit/f4a1cf6b04959ec69fc5684036315032206fde6f) (last commit)

### Description:

The `app` method no longer returns the `size` property.

### Example code:

[code]

### Error message:

[code]

[2022-07-17 14:38] archon810 commented on #574
Is the size even present on the page? https://play.google.com/store/apps/details?id=com.github.android. I don't see it.

[2022-07-17 15:00] KaKi87 commented on #574
If the property disappeared because of this, the documentation should be updated and a changelog written accordingly.

However, the Play Store app on Android still shows the size.

[2022-07-17 15:04] archon810 commented on #574
I looked around, and I don't see the size on any app I checked on the web. Perhaps the new website obsoleted this info, which is a shame, but it's quite typical Google.

[2022-07-17 15:15] KaKi87 commented on #574
Are you saying that this package can't get information that the mobile app provides ?

[2022-07-17 15:39] archon810 commented on #574
This project is a web Play Store scraper.

[2022-07-17 22:47] #574 closed

[2022-07-18 06:45] KaKi87 commented on #574
This doesn't change the fact that the documentation should have changed accordingly.
A lot of undocumented changes have occured since this major release.

[2022-07-18 12:50] facundoolano commented on #574
Feel free to send Pull requests to update the documentation

[2022-07-18 14:41] KaKi87 commented on #574
I could, [if I knew everything that changed since v9](https://github.com/facundoolano/google-play-scraper/issues/562). But only you do.

[2022-07-18 15:18] facundoolano commented on #574
I just manage the project, I don't make every change. The information I have is what's publicly available in the repository, so it's the same information you have.

I don't even use this project, I just maintain it. If you think there are opportunities to improve it, your changes are welcome.

[2022-07-18 15:23] #573 closed

[2022-07-23 20:37] wendellkuci commented on #527
I have the same problem:  I get a max of 30 results ever

[2022-07-26 12:05] sergeyrepko opened #575 "Error: Error requesting Google Play:Response code 429 (Too Many Requests)"
Error: Error requesting Google Play:Response code 429 (Too Many Requests)
    at /Users/admin/Desktop/00-scraper 2/node_modules/google-play-scraper/lib/utils/request.js:41:19
    at processTicksAndRejections (node:internal/process/task_queues:96:5) {
  status: 429
}

[2022-07-26 13:04] facundoolano commented on #575
Try making less requests or using the throttle feature described in the readme

[2022-07-26 13:06] #575 closed

[2022-08-07 02:48] josepius-clemson opened #576 "Similar is not working"
* Operating System: Windows 10
* Node version: 8.16.0
* google-play-scraper version: 9.0.2

### Description:
Similar function is returning the following error:

### Example code:
[code]

### Error message:

[code]

[2022-08-09 15:31] rsutariy opened #577 "Search is not working again with 9.0.2 version"
* Operating System: MacOS 12.4 and Amazon Linux 2
* Node version: 16.13.1
* google-play-scraper version: 9.0.2

### Description:
Search is working for some keywords and failing for others. May be meta data change again?
failed keywords examples : Wegmans, Facebook, Target, etc..

### Example code:
gplay
    .search({
        term: 'facebook',
    })
    .then(function (data) {
        if (data.len

[2022-08-10 18:35] josepius-clemson opened #579 "EVENT PAID LIST returning error"
* Operating System: Windows 10
* Node version: v16.13.2
* google-play-scraper version:9.02

### Description:
Describe your issue here

### Example code:
[code]

### Error message:
TypeError: Cannot read properties of undefined (reading 'map')
    at c:\..\node_modules\ramda\dist\ramda.js:578:31
    at Object.f2 [as map] (c:\..\node_modules\ramda\dist\ramda.js:473:22)
    at parseCollectionApps (c:

[2022-08-13 05:40] ChangJoo-Park commented on #539
It still happen with latest version 9.0.2

[2022-08-16 20:02] srikanthlogic commented on #554
This issue still persists.   "APPLICATION" is the only category that is being returned.

[2022-08-18 00:24] dave-filion opened #582 "Cannot read property 'replace' of undefined, mapping issue"
Looks like there may have been another change to the GPlay data structure, seeing consistent errors since earlier today when calling to get info on various apps:
[code]

Guessing the `descriptionText` field might be missing?

[2022-08-18 09:13] YairLeviMevorach commented on #582
I fix it
https://github.com/facundoolano/google-play-scraper/pull/583

[2022-08-18 13:54] dave-filion commented on #582
Awesome thank you!

[2022-08-18 14:58] cmillet2127 opened #584 "Data moved from ds4 to ds5"
The data describing the app previously mapped to ds4 section are now mapped to ds5.
The index to find the right field in a section remains the same between ds4 and ds5

[2022-08-18 15:02] cmillet2127 commented on #584
Already corrected

[2022-08-18 15:30] #584 closed, assigned to nobody

[2022-08-19 07:40] MaxMassov opened #585 "Some app's information is not displayed"
* Operating System: Windows 10 Pro
* Node version:
* google-play-scraper version: 1.2.0

### Description:
I'm searching app by appId, but there is no information for some apps.
### Example code:
from google_play_scraper import app
result = app(
                "app.example.com"
            )
print(result)

### Error message:
The result is:
{
  'title': None,
  'description': None,
  'descriptionHT

[2022-08-19 11:36] #585 closed

[2022-08-20 03:42] cf211 commented on #582
@YairLeviMevorach
i still see this error , how can i fix it?
`Aug 18 00:21:36 node[867]: TypeError: Cannot read property 'replace' of undefined
Aug 18 00:21:36 node[867]:     at Object.descriptionText [as fun] (/.../node_modules/google-play-scraper/lib/utils/mappingHelpers.js:6:51)
Aug 18 00:21:36 node[867]:     at /.../node_modules/google-play-scraper/lib/utils/scriptData.js:52:19
Aug 18 00:21:36

[2022-08-20 05:06] cf211 opened #586 "TypeError: Cannot read property 'replace' of undefined seems not fixed"
@YairLeviMevorach

i still see this error , how can i fix it?
Aug 18 00:21:36 node[867]: TypeError: Cannot read property 'replace' of undefined
Aug 18 00:21:36 node[867]: at Object.descriptionText [as fun] (/.../node_modules/google-play-scraper/lib/utils/mappingHelpers.js:6:51)
Aug 18 00:21:36 node[867]: at /.../node_modules/google-play-scraper/lib/utils/scriptData.js:52:19
Aug 18 00:21:36 node[86

[2022-08-20 18:15] nadavzipo commented on #586
+1

I think it might be because the version wan't updated after @YairLeviMevorach update.
@facundoolano need publish the change to npm

[2022-08-20 18:33] YairLeviMevorach commented on #586
Copy this
`        "google-play-scraper": "git+https://github.com/facundoolano/google-play-scraper#pull/583/head",
`
to your "package.json" file

[2022-08-20 23:52] hi-chin-rt commented on #586
@YairLeviMevorach
i copy
"google-play-scraper": "git+https://github.com/facundoolano/google-play-scraper#pull/583/head",
to my "package.json" file
then it works

however i want keep that
"google-play-scraper": "google-play-scraper": "^9.1.0",
int my "package.json" file

Could you publish the change to npm like "9.1.1"?

[2022-08-21 00:07] cf211 commented on #586
@YairLeviMevorach
i copy
"google-play-scraper": "git+https://github.com/facundoolano/google-play-scraper#pull/583/head",
to my "package.json" file
then it works

however i want keep that
"google-play-scraper": "google-play-scraper": "^9.1.0",
int my "package.json" file

Could you publish the change to npm like "9.1.1"?

[2022-08-21 04:36] kiki88104 opened #587 "review is not working"
* Operating System:Window 10
* Node version:14.17.0
* google-play-scraper version:9.1.0

### Description:
I run the example code for review，the function is not working

### Example code:
var gplay = require('google-play-scraper');

// This example will return 3000 reviews
// on a single call
gplay.reviews({
  appId: 'com.mojang.minecraftpe',
  sort: gplay.sort.RATING,
  num: 3000
}).then(console.l

[2022-08-21 08:07] srikanthlogic commented on #587
Can you please try with the `master` branch that is slightly ahead of 9.1.0? I don't have issues in using `master` and can paginate completely till end for reasonably large apps.

[2022-08-22 06:48] Aliaksandr-Kasko-JazzTeam commented on #582
@facundoolano when #583 will be released on npm?

[2022-08-22 09:13] denisRay commented on #582
@facundoolano waiting for release in the npm :)

[2022-08-22 10:45] sergeyrepko commented on #586
i also added the line `"google-play-scraper": "git+https://github.com/facundoolano/google-play-scraper#pull/583/head",`
but my problem is not solved :(
Same error

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/80681063/185903346-e91201e4-2a09-4e65-9fa1-b6d58f8b833c.png">

[2022-08-22 10:47] sergeyrepko commented on #582
this solution did not help me solve the problem

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/80681063/185903511-10b788c6-3642-47d7-bed2-4724049ce2af.png">

[2022-08-23 08:03] potstip opened #589 "app is not working"
* Operating System: w10
* Node version: 18.7
* google-play-scraper version: 9.1.0

### Description:
After latest update app is not working

### Example code:
[code]

### Error message:

[code]

[2022-08-23 08:05] potstip commented on #589
Master branch is working fine.

[2022-08-25 10:54] #586 closed

[2022-08-25 10:57] cf211 commented on #589
9.1.1 is working

[2022-08-29 14:07] gianlucascoccia commented on #576
Is this working now? I get this error, no matter which app I try:

[code]

[2022-08-31 10:32] srikanthlogic commented on #576
Works for me, both in `9.1.1` and in `master`.

[2022-09-01 07:59] yussufbiyik commented on #456
Create an Array of all the languages then use the:
`Array.forEach(item => {
// Get reviews code
...
})`
code to get reviews for each item of the language array.

[2022-09-01 08:01] yussufbiyik commented on #394
You can console.log each item of the array and get rid of this behavior. This occurs because you're logging the whole array.

[2022-09-03 17:03] xeinebiu commented on #582
I can confirm the issue is not fixed.

[2022-09-12 08:04] ntedgi opened #590 "Google play start enforcing rate limitation - Response code 429 (Too Many Requests)"
looks like something uploaded at `2022-09-12 10:18:43UTC`

* Operating System: ALL
* Node version: ALL
* google-play-scraper version: ALL

### Description:
Google play start enforcing rate limitation

### Error message:

[code]

[2022-09-13 11:59] yussufbiyik commented on #579
I have the same issue, a fix pls?

[2022-09-13 15:29] kuwapa opened #591 "androidVersionText is wrong for some apps"
For some apps, the app developers have added an upper android version limit. When parsing these apps, the scraper does not pick up the whole text and hence information is being lost.

https://play.google.com/store/apps/details?id=com.playgram.piratematch
4.1 - 8
https://play.google.com/store/apps/details?id=air.com.zinkia.playset
4.2 - 7.1.1

* Operating System: MacOS
* Node version: 8.13.0
* goog

[2022-09-13 17:00] crypto-Palladin commented on #559
![image](https://user-images.githubusercontent.com/72962346/189962378-c73e15d5-9276-4d47-8d38-da8f508b6104.png)

TypeError: Cannot read properties of undefined (reading 'map')

[2022-09-16 14:09] mnickw commented on #587
Same problem for me

[2022-09-16 15:22] mnickw opened #592 "reviews with sort.RATING doesn't work for com.mojang.minecraftpe"
* Operating System: windows 11
* Node version: 16.17.0
* google-play-scraper version: 9.1.1

### Description:

reviews function with sort.RATING doesn't work for com.mojang.minecraftpe. Readme uses it in examples, so they don't work too.

### Example code:
[code]

![bug](https://user-images.githubusercontent.com/57790664/190673727-ba23b343-2e13-47ee-972d-f7215072070b.png)
![no-bug](https://user-im

[2022-09-20 22:55] puneetghodasara opened #594 "Incorrect reviews when sort and num both options are specified"
* Operating System: N/A
* Node version: N/A
* google-play-scraper version: 9.1.1

### Description:
When sort and num both options are specified, library fetches 150 (hardcoded) reviews and slice them with default array sort option. Hence, when num (<150) is specified, it will truncate [num...150] reviews and nextPaginationToken will start from 150 instead of num + 1.

### Example code:
[code]

###

[2022-09-20 22:57] puneetghodasara commented on #594
I have a fix ready with test cases, however I do not have permission to create branch or create pull request. I am happy to submit the CR/PR if I get a permission to contribute in this repository.

[2022-09-22 15:59] MakeShiftArtist opened #595 "Feature Request: Version for device"
Lots of apps have a version that depends on the device, but if you have a device already it'll tell you the version for your device. If you have multiple devices supported connected to your account, it will show you the versions for each of your devices. Being able to include this would be amazing

[2022-09-24 00:15] 89z commented on #590
You've given no context, so it could be assumed that you're just abusing the API. If you can provide some more details, people might be able to help you.

[2022-09-27 18:19] muzzyrost commented on #576
- Operating System: Ubuntu
- Node version: 16.16.0
- google-play-scraper version: 9.1.1

Example code:
[code]
Error message:
[code]

[2022-09-30 08:30] #590 closed

[2022-10-04 16:25] rsutariy opened #596 "Search is again stop working"
* Operating System:MacOS 12.4 and Amazon Linux 2
* Node version:16.16.0
* google-play-scraper version:9.1.1

### Description:
Search is not working properly. It throws an error more than corrected result for same keyword.
keywords examples : Facebook, Walmart etc..

### Example code:
[code]

### Error message:

[code]

[2022-10-06 12:36] ansoncen opened #597 "Search only return 30 results"
* google-play-scraper version: 9.1.1

### Description:
Search only returns 30 results now. Google play store website now only shows 30 apps in search results. Is there any alternative way to get the full search results as it shows on the phone?

[2022-10-06 12:37] ansoncen commented on #596
I suggest u use a try catch and loop the search until you get the results.

[2022-10-06 16:16] rsutariy commented on #596
Is there any long term approach?

[2022-10-06 19:49] Djip commented on #596
Depends in anyone finds a solution to the problem. @facundoolano

[2022-10-07 10:37] Djip commented on #596
https://github.com/facundoolano/google-play-scraper/compare/main...Djip:google-play-scraper:main#diff-5fa3e79ff4f9f5b6d3a08d3abab2c8db53823a6b1e36d9ecd723792890870aaf

I've made these changes in my local fork, and it seems to work fine, but haven't had too much time to test it in different scenarios.

Note:
Looping only seemed to work for a little bit of time. Perhaps cause some of the servers bei

[2022-10-09 16:09] CyrilCermak commented on #596
@Djip, how about opening a PR with your change? :)

[2022-10-10 10:10] Djip commented on #596
As mentioned, i'm not 100% sure this works every time

[2022-10-11 15:24] rsutariy commented on #596
@facundoolano Any update?

[2022-10-11 17:18] pavi2410 opened #598 "Support for Cloudflare Workers runtime"
* Operating System: Windows 11
* Node version: 18.9.1
* google-play-scraper version: latest

### Description:
I'm trying to host my scraper service on Cloudflare Workers, but found that it's not working.

### Example code:
[code]

### Error message:

[code]

[2022-10-11 17:27] pavi2410 commented on #598
It might require us to replace `got` with `fetch`

[2022-10-13 06:19] insungson commented on #596
I have a same issue. and fix that with try catch loop when it works.

[2022-10-13 18:51] CyrilCermak commented on #596
@Djip, I am happy to give it a test drive if you open a PR with the change. :)

[2022-10-16 17:14] CyrilCermak commented on #596
I opened a PR with your change @Djip, it works perfectly fine for me. @facundoolano, can you please look into it?  Thanks a lot!
https://github.com/facundoolano/google-play-scraper/pull/600

[2022-10-17 11:37] ArtyCooL commented on #471
Were you able to fix this issue?

[2022-10-18 09:04] ChayaGel opened #601 "working randomly?"
seems it  started to works randomly,
sometimes works and sometimes not,
(what I saw, mainly in Hebrew words - its not working, but dont know if the language is the point or something else)

---
full error message:
TypeError: Cannot read properties of undefined (reading 'map')
     at D:\...\google-play-search\node_modules\ramda\dist\ramda.js:578:31
     at Object.f2 [as map] (D:\...\google-play-se

[2022-10-18 09:11] ChayaGel commented on #601
duplicate with #596

[2022-10-18 09:12] #601 closed

[2022-10-22 23:50] josepius-clemson opened #602 "Please add a return value for apps that don't submit datasafety info/apps that don't share data"
* Operating System: Windows/Linux
* Node version:v16.13.2
* google-play-scraper version:9.1.1

### Description:
Please modify the datasafety() to return values for apps that do not share data and apps that did not submit datasafety info
1) In the case of Apps dont share data, we can see the following information in the app . But datasafety() does not return any value.
-        Data safety: The dev

[2022-11-02 09:39] cuongsql opened #603 "Get data from APP, and comments return "null"."
I get data from APP, but the comment section is having a null problem, not returning results. I need someone to fix it. (see the photo to understand what I mean better):
`var gplay = require('google-play-scraper');`

`gplay.app({appId: 'com.google.android.apps.translate'})`

` .then(console.log, console.log);`

"comments": [
null,
null,
null,
null,
null
],
[https://i.imgur.com/LBp3Ryr.png](url)

[2022-11-08 04:42] Nishant1500 opened #604 "Script Regex doesn't work anymore"
* google-play-scraper version: 9.1.1

### Description:
Script regex doesn't work anymore
[code]

[2022-11-08 04:44] Nishant1500 commented on #604
can anyone else reproduce this?

[2022-11-08 04:48] #604 closed

[2022-11-10 02:43] cufeinfor opened #606 "Can we get app reviews by version?"
I only want to crawl app reviews of some versions. It is too costly to crawl all the million reviews and then filter. Can we crawl the reviews by version?

[2022-11-11 22:20] winhows5 opened #607 "similar API returns a wrong list"
* Operating System:
* Node version:
* google-play-scraper version:

### Description: dcccx
The similar API returns a wrong list for some apps. This list tends to be the developer apps. Please see the testcase below. Both of them return a same app list from developer apps.
### Example code:
[code]

### Error message:

[code]

[2022-11-11 23:39] winhows5 commented on #607
This bug is caused when there's a column called "More by this developer" before "Similar apps", in which case the similar app item index is shifted.

Hence I temporarily fixed it by adding these code to `lib/similar.js:90`:

[code]

[2022-11-28 01:48] joyfuI opened #608 "404 error returned by specific app"
* Operating System: Windows 11 Home
* Node version: v16.14.2
* google-play-scraper version: 9.1.1

### Description:
[https://play.google.com/store/apps/details?id=studio.gameberry.Crow](https://play.google.com/store/apps/details?id=studio.gameberry.Crow)
Only this app gives me a 404 error and I can't get any information.

### Example code:
[code]

### Error message:
[code]

[2022-11-28 02:32] archon810 commented on #608
This app is not live on the Play Store.

[2022-11-30 08:28] joyfuI commented on #608
thank you. It was not published in the US. I solved it. ("country" option)

[https://play.google.com/store/apps/details?id=studio.gameberry.Crow&gl=kr](https://play.google.com/store/apps/details?id=studio.gameberry.Crow&gl=kr)
[https://play.google.com/store/apps/details?id=studio.gameberry.Crow&gl=us](https://play.google.com/store/apps/details?id=studio.gameberry.Crow&gl=us)

[2022-11-30 08:28] #608 closed